@use 'sass:math';
@use "mixins";
@use 'sprite/sprite';

// 홈
.inner {
  &__type {
    padding-top: 40px;
    padding-bottom: 24px;
    color: #1B1B1B;
    font-size: 24px;
    font-weight: 600;
  }
}

.sub-category {
  display: block;
  margin-bottom: 28px;
  border-bottom: 1px solid #F2F2F2;

  &__item {
    display: inline-block;
    height: 25px;
    padding-bottom: 7px;
    font-size: 16px;
    line-height: 33px;
  }

  &__item + &__item  {
    margin-left: 56px;
  }

  &__item--active {
    color: #FB4760;
    border-bottom: 2px solid #FB4760;
  }

  &__item--active a {
    font-weight: 700;
  }
  

}

.sub-category--type-2 {
  .sub-category__item + .sub-category__item {
    margin-left: 24px;
  }

  .sub-category__item {
    color: #BDBDBD;
  }

  .sub-category__item--active {
    color: #FB4760;
  }
}

.product {
  margin-top: 24px;

  &__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 34px;
    border: 1px solid #E0E0E0;
    border-radius: 17px;

    &.filter--order {
      width: initial;
      height: 34px;
      padding: 5px 12px;
      box-sizing: border-box;

      span {
        font-size: 15px;
        color: #4F4F4F;
      }
    }
  }

  .ico__filter {
    display: inline-block;
    margin-right: 4px;
  }

  span {
    display: inline-block;
    color: #4F4F4F;
  }

  &__text--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27.9px;
    letter-spacing: -0.03em;
    color: #1B1B1B;

    .text__color--red {
      color: rgba(251, 71, 96, 1);
    }
  }

  &__count {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: -0.02em;
    color: #4F4F4F;
  }
}

.category {
  .content {
    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: -0.03em;
      padding: 0;
      margin-top: 40px;
      margin-bottom: 32px;
    }

    &__title--top {
      margin-top: 80px;
    }

    // 상품
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        width: 276px;

        .item {
          display: block;
          width: 276px;
          height: 276px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
          }

          .badge {
            position: absolute;
            bottom: -10px;
            left: 16px;
            height: 21px;
            padding: 1px 6px 0;
            background-color: #1B1B1B;
            border-radius: 5px;
            font-weight: 600;
            font-size: 13px;
            line-height: 22px;
            letter-spacing: -0.02em;
            color: #FFFFFF;
          }
        }

        &__title {
          font-weight: 500;
          font-size: 18px;
          line-height: 27.9px;
          letter-spacing: -0.03em;
          margin-top: 21px;
          margin-bottom: 40px;
          padding: 0 16px;
          max-height: 56px;
          overflow: hidden;
          // 두번째 줄 말줄임 표시 IE 적용 불가
          // display: -webkit-box;
          // -webkit-line-clamp: 2;
          // -webkit-box-orient: vertical;
        }
      }
    }

    // 커뮤니티
    &__title--community {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .view-all {
        display: flex;
        align-items: center;

        a {
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          letter-spacing: -0.02em;
          color: #828282;
        }

        img {
          width: 14px;
          height: 14px;
        }
      }
    }

    &__container--community {
      display: flex;
      margin-bottom: 72px;

      .card {
        width: calc(50% - 32px);

        &:first-child {
          margin-right: 64px;
        }

        h3 {
          font-weight: 600;
          font-size: 18px;
          line-height: 27.9px;
          letter-spacing: -0.03em;
          color: #333333;
          padding-bottom: 16px;
          border-bottom: 2px solid #4F4F4F;
          margin-bottom: 16px;
        }

        .list {
          margin-bottom: 8px;
          display: flex;
          align-items: center;

          .badge {
            height: 21px;
            padding: 1px 6px 0;
            background-color: #FFF5F6;
            border-radius: 5px;
            font-weight: 600;
            font-size: 13px;
            line-height: 22px;
            letter-spacing: -0.02em;
            color: #FB4760;
          }

          .description {
            font-weight: 400;
            font-size: 16px;
            line-height: 25.6px;
            letter-spacing: -0.02em;
            margin: 0 6px;
            max-height: 26px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
          }

          .count {
            font-weight: 400;
            font-size: 16px;
            line-height: 25.6px;
            letter-spacing: -0.02em;
            color: #FF8798;
          }
        }
      }
    }

    .simulator {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 66px;
      width: 100%;
      height: 147px;
      border-radius: 5px;
      background: linear-gradient(96.11deg, #FD4962 0%, #FB4760 48.02%, #FF8798 101.32%);

      &__title-wrap {
        display: flex;
        align-items: flex-end;

        p {
          font-weight: 600;
          font-size: 18px;
          line-height: 26.82px;
          letter-spacing: -0.03em;
          color: #FFFFFF;
          margin-left: 42.9px;
        }

        img {
          width: 18px;
          height: 18px;
          margin-left: 12px;
          margin-bottom: 5px;
        }
      }

      &__img-wrap {
        width: 100px;
        height: 100px;
        margin-right: 80px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__count {
    color: #FB4760;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -.02em;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;

    :nth-child(4n) {
      margin-right: 0;
    }

    &__card {
      width: 276px;
      margin-right: 24px;
      margin-bottom: 40px;
      position: relative;

      .card__bookmark {
        position: absolute;
        right: 14px;
        top: 242px;
        width: 24px;
        height: 24px;
        z-index: 5;

        :hover {
          cursor: pointer;
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      .card__img--wrap {
        width: 100%;
        height: 276px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        .card__img {
          width: 100%;
          height: 100%;
        }

        .card__badge {
          position: absolute;
          left: 14px;
          bottom: 14px;
          padding: 0 5px;
          height: 18px;
          border: 1px solid #FFFFFF;
          border-radius: 5px;
          filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.35));
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -0.03em;
          color: #FFFFFF;
        }
      }

      .card__text--wrap {
        .card__brand {
          font-weight: 400;
          font-size: 14px;
          line-height: 22.4px;
          letter-spacing: -0.02em;
          color: #828282;
          margin-top: 10px;
        }

        .card__name {
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          letter-spacing: -0.02em;
          color: #1B1B1B;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

        }

        .card__price {
          font-weight: 700;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #1B1B1B;
          margin-top: 8px;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    img {
      width: 207px;
      height: 26px;
    }
  }

  .radio {
    &__item {
      display: block;
      text-align: left;
      line-height: 0;
    }

    label + label::before {
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: #F2F2F2;
      content: '';
    }

    input {
      display: none;
      opacity: 0;
    }

    input + span {
      display: inline-block;
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #828282;
      font-size: 16px;
      line-height: 1;
    }
    
    
    input + span::before {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 15px;
      border-radius: 50%;
      border: 1px solid #FB4760;
      vertical-align: bottom;
      box-sizing: border-box;
      content:'';
    }

    input:checked + span {
      color: #1B1B1B;
      font-weight: 600;
    }

    input:checked + span::after {
      display: inline-block;
      position: absolute;
      top: 4px;
      left: 4.5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #FB4760;
      content: '';
    }

  }

  .modal {
    .footer {
      padding: 24px 22px;
    }

    .footer button {
      width: 100%;
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      line-height: 48px;
      background-color: #FB4760;
      border-radius: 5px;
    }

    .modal__buttons .modal__buttons--refresh {
      width: calc(100% - 270px) !important;
      color: #1B1B1B !important;
      font-weight: 600;
      background-color: #ffffff !important;
      border: 1px solid #E0E0E0 !important;
      border-radius: 5px;
    }
  
    .modal__buttons .modal__buttons--search {
      width: calc(100% - 180px);
      margin-left: 8px;
      background-color: #FB4760;
      color: #ffffff;
      border-radius: 5px !important;
    }
  
    .modal-category .content{
      overflow-y: scroll;
      height: 450px; 
    }
  }

  svg {
    padding: 0;
    margin: 0;
  }

  &__check {
    display: block;
    text-align: left;
  }
}

.category-filter {
  margin-top: 4px;

  &__title {
    display: block;
    position: relative;
    width: 100%;
    padding: 8px 16px;
    color: #1B1B1B;
    font-size: 16px;
    border: 1px solid #FB4760;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__title::after {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 7px;
    height: 7px;
    margin-top: -5px;
    border-right: 2px solid #FB4760;
    border-bottom: 2px solid #FB4760;
    transform: rotate(45deg);
    content:'';
  }

  &__wrap {
    display: none;
    overflow: scroll;
    position: relative;
    max-height: 288px;
    margin-top: 5px;
    border-width: 1px 1px 0 1px;
    border-color: #FB4760;
    border-style: solid;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__item {
    overflow: hidden;
    display: flex;
    height: 44px;
    max-height: 176px;
    border-bottom: 1px solid #F2F2F2;
  }

  &__item--active {
    height: auto;

  }

  &__item--active .category-filter__sub-title {
    background-color: #FFF5F6;
  }

  &__sub-title {
    display: flex;
    position: relative;
    width: 200px;
    padding: 11px 16px;
    color: #1B1B1B;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.02em;
    text-align: left;
    border-right: 1px solid #E0E0E0;
    box-sizing: border-box;
  }

  &__arrow {
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 17px;
    width: 18px;
    height: 18px;
    pointer-events: auto;
  }

  &__sub-title:hover &__arrow::before {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 4.5px;
    width: 9px;
    height: 2px;
    background-color: #FF8798;
    content:'';
  }

  &__sub-title:hover &__arrow::after {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 4.5px;
    right: 20px;
    width: 9px;
    height: 2px;
    background-color: #FF8798;
    transform: rotate(90deg);
    content:'';
  }

  &__item--active:hover &__arrow::after {
    display: none;
  }

  &__box {
    width: calc(100% - 200px);
    padding: 0;
  }

  &__box > div {
    padding: 0 16px;
    box-sizing: border-box;
    max-height: 176px;
    overflow: auto;
  }

  &__box p {
    display: inline-block;
    padding: 2px 10px;
    margin: 9px 12px 9px 0;
    color: #4F4F4F;
    font-size: 14px;
    letter-spacing: -.02em;
    border-radius: 5px;
    box-sizing: border-box;
    height: 26px;
  }

  &__box p:hover {
    background-color: #F7F7F7;
    color: #1B1B1B;
  }

  &__box button {
    padding: 0;
    margin: 0;
  }

  &__footer {
    display: none;
    position: relative;
    width: 1176px;
    padding: 0;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
  }

  &__footer button {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 30px 5px 12px;
    color: #333333;
    font-size: 15px;
    background-color: #F2F2F2;
    border-radius: 17px;
  }

  &__footer button::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 12px;
    @include mixins.sprite(sprite.$ico-delete16);
  }

  &__refresh {
    position: absolute;
    top: 22px;
    right: 14px;

    .ico__refresh {
      margin-bottom: 3px;
    }
  }

  &__data {
    width: calc(100% - 80px);
  }

}

.select-button {
  background-color: #FFF5F6;

  button {
    color: #FB4760;
  }
}

.category-filter.category-filter--active {
  .category-filter__wrap {
    display: block;
    border-width: 1px;
  }

  .category-filter__title::after {
    margin-top: 0;
    transform: rotate(-135deg);
  }
}

.category-filter__footer.active {
  display: block;
  padding: 16px 16px 6px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #FB4760;
}

.category-menu {
  &__title {
    display: inline-block;
  }

  &__title a {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 48px;
    padding: 10px 16px;
    line-height: 25px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__title a::after {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 8px;
    height: 8px;
    border-right: 2px solid #BDBDBD;
    border-bottom: 2px solid #BDBDBD;
    transform: rotate(45deg);
    content: '';
  }

  &__wrap {
    display: none;
    position: absolute;
    width: 500px;
    height: 616px;
    margin-top: 4px;
    border: 1px solid #FB4760;
    border-radius: 5px;
    background: #ffffff;
    z-index: 9;
  }

  &__wrap::after {
    display: table;
    clear: both;
    content:'';
  }

  &__main,
  &__sub {
    float: left;
    overflow-y: scroll;
    width: 250px;
    max-height: 616px;
    box-sizing: border-box;
  }

  &__main {
    border-right: 1px solid #E0E0E0;
  }

  &__sub {
    display: none;
    position: absolute;
    top: 0;
    left: 250px;
  }

  &__sub.active {
    display: block;
  }

  &__item a, 
  &__sub-item a {
    display: flex;
    align-self: center;
    height: 44px;
    padding: 10px 16px;
    letter-spacing: -.02em;
    box-sizing: border-box;
  }
  &__item i {
    margin-right: 10px;
  }

  &__item:hover &__link,
  &__sub-item:hover a {
    background-color: #F7F7F7;
    color: #1B1B1B;
    font-weight: 600;
  }

  &__item--active {
    .category-menu__link {
      color: #FB4760;
    }
  
  }

 
}

.category-menu--active {
  .category-menu__title a {
    border: 1px solid #FB4760;
  }
  .category-menu__title a::after {
    margin-top: 4px;
    border-right: 2px solid #FB4760;
    border-bottom: 2px solid #FB4760;
    transform: rotate(225deg);
  }
  .category-menu__wrap {
    display: block;
  }

}

.select-menu + .category-refresh {
  margin-bottom: 12px;
}

.category-refresh {
  .category-filter__refresh {
    display: inline-block;
    top: auto;
    left: 270px;
    width: 105px;
    margin-top: -47px;
    padding: 10px 17.5px;
    color: #4F4F4F;
    font-weight: 600;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    box-sizing: border-box;
  }
 span {
   display: inline-block;
   margin-top: 2px;
   margin-left: 5px;
 }
}

.category-product {
  &__head {
    margin-bottom: 24px;
  }

  &__wrap {
    display: inline-block;
    position: relative;
    width: calc(100% - 50px);
  }

  &__wrap::after {
    display: table;
    content:'';
    clear: both;
  }


  &__logo {
    float: left;
    width: 140px;
    height: 140px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__description {
    float: left;
    width: calc(100% - 200px);
    margin-left: 50px;
    padding-top: 25px;
  }

  &__description::after {
    display: table;
    content:'';
    clear: both;
  }

  &__title-inner {
    float: left;
    max-width: calc(100% - 60px);
    height: 30px;
    color: #1B1B1B;
    font-size: 20px;
    letter-spacing: -.03em;
    @include mixins.ellipse(1);
  }

  &__title::after {
    display: table;
    content:'';
    clear: both;
  }

  &__position {
    padding-top: 1px;
    padding-bottom: 8px;
    color: #828282;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -.02em;
  }

  &__type {
    padding: 2px 6px;
    color: #828282;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    background-color: #F2F2F2;
    border-radius: 5px;
  }

  &__heart {
    float: right;
    margin-top: 41px;
    width: 41px;
    text-align: center;
  }

  &__heart span {
    display: block;
    color: #828282;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.02em;
  }

  &__img {
    display: block;
    float: left;
    width: 276px;
    height: 276px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__img +  &__img {
    margin-left: 24px;
  }

  &__content::after {
    display: table;
    content:'';
    clear: both;
  }

  &__date {
    display: block;
    float: left;
    margin-top: 4px;
    margin-left: 6px;
    padding: 2px 6px;
    color: #FB4760;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    background-color: #FFF5F6;
  }

  &__item + &__item {
    margin-top: 48px;
    padding-top: 24px;
    border-top: 1px solid #E0E0E0;
  }
}

.category-type {
  &__item a {
    display: inline-block;
    position: relative;
    padding: 5px 12px;
    height: 34px;
    color: #4F4F4F;
    font-size: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 17px;
    box-sizing: border-box;
  }

  &__item a i {
    position: absolute;
    top: 12px;
    right: 12px;
    margin-top: -3px;
    margin-left: 3px;
  }

  &__item-1 {
    width: 120px;
  }

  &__item-2 {
    width: 100px;
    margin-left: 10px;
  }
}


.category-type__item-1.active ,
.category-type__item-2.active{
  background-color: #FFF5F6;
  border: 1px solid #FF8798;
  font-weight: 600;
}

.category-data {
  position: relative;
  margin-top: 16px;

  &__wrap {
    width: calc(100% - 100px);
    margin: 8px;
  }

  button {
    display: inline-block;
    position: relative;
    margin: 8px;
    padding: 5px 30px 5px 12px;
    color: #333333;
    font-size: 15px;
    background-color: #F2F2F2;
    border-radius: 17px;
  }

  button::before {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 12px;
    width: 9px;
    height: 2px;
    background-color: #BDBDBD;
    transform: rotate(-45deg);
    content: "";
  }

  button::after {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 12px;
    width: 9px;
    height: 2px;
    background-color: #BDBDBD;
    transform: rotate(225deg);
    content: "";
  }

  .category-filter__refresh {
    display: none;
    top: 21px;
  }
}