@use 'sass:math';
@use "mixins";
@use 'sprite/sprite';

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 9999;
  // header 안가려짐
  // z-index: 999;

  &__content {
    text-align: center;
    font-size: 16px;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content .header {
    height: 84px;
    margin-bottom: -1px;
    padding: 27px 24px;
    background-color: #ffffff;
    text-align: left;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &__content .header p {
    color: #1B1B1B;
    font-size: 20px;
    letter-spacing: -.03em;
  }


  &__content .content {
    overflow-y: auto;
    max-height: 70vh;
    padding: 1px 24px 0 24px;
    background-color: #ffffff;
  }

  &__content .footer {
    margin-top: -1px;
    background-color: #ffffff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }


  &__desc {
    padding: 37px 20px;
    background: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #E0E0E0;
  }

  &__button {
    display: block;
    width: 100%;
    height: 48px;
    background-color: #FB4760;
    line-height: 48px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__button span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 48px;
    font-weight: 600;
  }

  &__buttons--half {
    height: 48px;
  }

  &__buttons--half &__button {
    display: block;
    float: left;
    width: 50%;
    background-color: #BDBDBD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
  }


  &__buttons--half::before {
    display: inline-block;
    content: '';
    clear: both;
  }

  &__buttons--half &__button + &__button {
    background-color: #FB4760;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
  }

  .modal-close {
    position: absolute;
    // top: 29px;
    top: 35px;
    // right: 24px;
    right: 25px;
    z-index: 10002;
  }

  &__close-button {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  &__close-button::after {
    display: inline-block;
    width: 2px;
    height: 18px;
    margin-right: -5px;
    background: #1B1B1B;
    transform: rotate(45deg);
    content: '';
  }

  &__close-button::before {
    display: inline-block;
    width: 2px;
    height: 18px;
    margin-right: -2px;
    background: #1B1B1B;
    transform: rotate(-45deg);
    content: '';
  }

  &__util {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__util .modal__button {
    display: block;
    height: 40px;
    width: 100%;
    max-width: 100px;
    margin-bottom: 20px;
    background-color: #FB4760;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    border-radius: 0;
  }

  &__util .modal__button span {
    font-weight: inherit;
    line-height: inherit;
  }

  &__util .modal__button--gray {
    background-color: #BDBDBD;
  }

  &__util .modal__button + .modal__button {
    margin-left: 10px;
  }
}

.modal-box {
  
  &__content {
    position: relative;
    margin: 0 auto;
  }
}

.pagenation {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
  
  .prev, .next {
    display: inline-block;
    height: 23px;
    margin-right: 6px;
    vertical-align: bottom;
  }

  .numbering {
    display: inline-block;

    a {
      float: left;
      width: 27px;
      height: 26px;
      color: #828282;
      text-align: center;
      line-height: 26px;
    }

    a:hover {
      background-color: #F7F7F7;
      color: #1B1B1B;
    }

    p + p {
      margin-left: 6px;
    }

    &--active {
      background-color: #FFF5F6;
      color: #FB4760 !important;
      border-radius: 3px;
    }

    &--active-black {
      background-color: #ffffff;
      border-radius: 3px;
    }

    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }

  &.mt0 {
    margin-top: 0 !important;
  }

  &.mt40 {
    margin-top: 40px !important;
  }
}

[class^=community-] {
  .tag__color {
    background-color: #FFF5F6 !important;
    color: #FB4760 !important;
  }
}

.community-content {

  &__item {
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
  }

  &__item--disabled {
    position: relative;
    background-color: rgba(224, 224, 224, .1);

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #BDBDBD;
      font-size: 20px;
      letter-spacing: .03em;
      transform: translate(-50%, -50%);
      content: '관리자에 의해 게시글이 숨김 처리되었습니다.'
    }

    .community-content__container,
    .community-content__info {
      opacity: .1;
    }
  }

  &__container {
    position: relative;
    padding-bottom: 30px;
  }

  &__content {
    width: 89%;
    padding: 16px 22px 0;
    box-sizing: border-box;
  }

  &__info {
    position: relative;
    height: 50px;
    padding: 12px 24px 0;
    border-top: 1px solid #f2f2f2;
    box-sizing: border-box;
  }

  &__type p {
    display: inline-block;
    padding: 1px 6px 1px 6px;
    color: #828282;
    font-size: 13px;
    font-weight: 600;
    background-color: #F2F2F2;
    border-radius: 5px;
  }

  &__type p+p {
    margin-left: 4px;
  }

  &__image {
    position: absolute;
    top: 52px;
    right: 24px;
    width: 66px;
    height: 66px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }

  &__desc p {
    margin-top: 14px;
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.2px;
    // @include ellipse($lines: 2);
  }

  &__writer p {
    color: #333333;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.2px;
    word-break: break-all;
  }


  &__utils {
    display: inline-block;
  }

  &__util {
    float: left;
    position: relative;
  }

  &__util + &__util {
    margin-left: 16px;
  }

  &__util svg {
    position: absolute;
    top: 2px;
    left: 0;
  }

  &__util p {
    color: #828282;
  }

  &__util i {
    margin-top: -3px;
    margin-right: 3px;
  }

  &__time {
    position: absolute;
    right: 24px;
    bottom: 16px;
    color: #828282;
  }

  &__count svg {
    margin-top: 1px;
  }
}

.community-content.community-content--full {
  .community-content__content {
    width: 100%;
  }
}

.community-reply {
  position: relative;

  .tag__color {
    padding: 1px 6px 1px 6px;
    margin-right: 7px;
    font-size: 13px;
    font-weight: 600;
  }

  &__head {
    display: flex;
  }

  &__item {
    padding: 16px 24px 20px;
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__more {
    position: absolute;
    top: 16px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__title {
    padding-right: 40px;
    color: #4F4F4F;
    font-size: 15px;
  }

  &__text {
    margin-top: 7px;
  }

  &__desc {
    display: inline-block;
    width: 90%;
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    letter-spacing: -.2px;
  }

  &__time {
    position: absolute;
    right: 24px;
    bottom: 22px;
    color: #828282;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: -.2px;
  }

  &__box {
    display: none;
    position: absolute;
    top: 40px;
    right: 24px;
    width: 168px;
    padding: 6px 0; 
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 8px 2px #0000000A;
    border-radius: 5px;
    z-index: 9;
  }

  &__box a {
    display: block;
    height: 44px;
    padding: 9px 24px;
    color: #1B1B1B;
    font-size: 16px;
    line-height: 25px;
    box-sizing: border-box;
  }

  &__box a:hover {
    background-color: #F7F7F7;
  }
}

.community-comment {
  &__item {
    padding: 16px;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  &__title {
    display: inline-block;
    color: #1B1B1B;
    font-size: 15px;
    font-weight: 600;
  }

  &__title + &__time::before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #BDBDBD;
    vertical-align: middle;
    content: '';
  }

  &__time {
    display: inline-block;
    color: #828282;
    font-size: 14px;
    line-height: 22px;
  }

  &__desc {
    padding-top: 4px;
    padding-bottom: 8px;
    color: #333333;
    font-size: 16px;
    letter-spacing: -.02em;
  }

  &__text {
    color: #828282;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.02em;
    
  }

  &__text::before {
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    content: '';
    @include mixins.sprite(sprite.$ico-recomment);
  }
}

.community-comment.community-comment--full {
  .community-comment__item {
    padding: 16px 38px;
  }
}

.mypage-menu {
  &__item {
    display: block;
    position: relative;
    height: 52px;
    padding: 13px 24px 16px;
    background-color: #ffffff;
    box-sizing: border-box;

    &.item__new {
      .mypage-menu__title {
        color: #FB4760;
      }
  
      .mypage-menu__title::after {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-top: 2px;
        margin-left: 8px;
        vertical-align: text-top;
        content: '';
        @include mixins.sprite(sprite.$badge-new);
      }
    }
  }

  &__arrow {
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 16px;
  }

  &__title {
    font-size: 16px;
  }
}

/* category */

.category {
  &__item {
    display: block;
    height: 44px;
    background-color: #ffffff;
  }

  &__wrap {
    display: flex;
    height: 100%;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 17px 11px;
    align-items: center;

    [class^=ico_] {
      margin-left: 17px;
    }

  }

  svg {
    padding-top: 11px;
    padding-left: 17px;
  }

  &__title {
    display: inline-block;
    padding-left: 16px;
    color: #1B1B1B;
    font-size: 16px;
  }

  &__item--bold span {
    font-weight: 600;
  }

  &__item--color span {
    color: #FB4760;
    font-weight: 600;
  }

  &__item--solid {
    background-color: #FFF5F6;
  }

  &__item--solid span {
    color: #FB4760;
    font-weight: 600;
  }

  &__check {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
  }

  &__check--bold span {
    font-weight: 600;
  }

  &__check input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    margin-left: 16px;
  }

  &__check span {
    display: block;
    position: relative;
    margin-left: 16px;
    line-height: 44px;
  }

  &__check span::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    background-color: #ffffff;
    vertical-align: middle;
    content:'';
  }
  &__check input + span::after { 
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 1px;
    width: 17px !important;
    height: 17px !important;
    content:'';
    @include mixins.sprite(sprite.$ico-check-gray);
  }

  &__check input:checked + span::before {
    background-color: #FB4760;
    border: 1px solid #FB4760;
  }

  &__check input:checked + span::after{
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 1px;
    width: 18px;
    height: 18px;
    content:'';
    @include mixins.sprite(sprite.$ico-check-white);
  }

  &__check--right span::before {
    position: absolute;
    top: 11px;
    right: 0;
  }

  &__check--right input + span::after,
  &__check--right input:checked + span::after {
    top: 17px;
    left: 88%;
    margin-top: -5px;
  }
}

/* textfield UI */ 

.textfield {
  position: relative;

  &__search {
    height: 48px;
    padding: 0 48px;
    background-color: #ffffff;
    color: #1B1B1B;
    line-height: 48px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
  }

  &__icon {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 16px;
  }

  &__icon--delete {
    display: none;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    content: '';
  }

  &__input {
    padding: 0 16px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #DBDBDB; 
    box-sizing: border-box;
  }

  &__input::placeholder {
    color: #1B1B1B; 
  }

  &__input--gray {
    border: 1px solid #DBDBDB; 
  }

  &__input--gray::placeholder {
    color: #DBDBDB; 
  }

  &__input--border-gray {
    border: 1px solid #828282; 
  }

  &__input--border-gray::placeholder {
    color: #828282; 
  }

  &__input--big-space {
    padding: 16px 32px;
    box-sizing: border-box;
    border: 1px solid #F7F7F7;
  }

  &__input--big-space::placeholder {
    color: #4F4F4F; 
  }
}

.textfield.textfield--active {
  .textfield__icon--delete {
    display: inline-block
  }
}

.input-guid {

  &__input {
    height: 48px;
    padding: 16px 16px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    box-sizing: border-box;

    &::placeholder {
      color: #BDBDBD;
    }

    &:disabled {
      background-color: #F7F7F7;
      pointer-events: none;
    }
  }

  &__button {
    color: #4F4F4F;
    text-align: center;
    height: 48px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #4F4F4F;
    border-radius: 5px;
    font-weight: 600;

    &:disabled {
      pointer-events: none;
      color: #BDBDBD;
      border-color: #BDBDBD;
    }
  }
}

.file-input__input {
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	background: transparent;
}

/* button UI */

.button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition: all .3s ease;

  &__wrap {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  &--solid {
    background-color: #FB4760;
    color: #ffffff;
    font-size: 16px;
  }

  &--solid:hover:not([disabled]) {
    background-color: #d04d5a;
    color: #ffffff;

    // 클릭 오동작 때문에 주석 처리
    // pointer-events: none;
  }

  &--solid:disabled {
    background-color: #FDA3B0;
    pointer-events: none;
  }

  &--blank {
    border: 1px solid #FB4760;
    color: #FB4760;
  }

  &--blank:hover:not([disabled]) {
    background-color: #f9e4e7;
  }

  &--blank:disabled {
    border: 1px solid #FDA3B0;
    color: #FDA3B0;
    pointer-events: none;
  }

  &--solid-gray {
    background-color: #4F4F4F;
    color: #ffffff;
  }

  &--solid-gray:hover:not([disabled]) {
    background-color: #333333;
  }

  &--solid-gray:disabled {
    background-color: #BDBDBD;
    pointer-events: none;
  }

  &--blank-gray {
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
  }

  &--blank-gray:hover:not([disabled]) {
    background-color: #d9d9d9;
  }

  &--blank-gray:disabled {
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
    pointer-events: none;
  }

  &--round {
    border-radius: 17px;
  }

  &--etc {
    border: 1px solid #E0E0E0;
    color: #333333;
    border-radius: 5px;
  }

  &--etc:hover {
    background-color: #E0E0E0;
  }
}

.link-button {
  padding: 0 40px;
  color: #828282;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  
  &-wrap {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    li {
      display: inline-flex;
      flex-grow: 0;
    }

    li + li {
      position: relative;
  
      &::before {
        margin-top: 4px;
        content: '';
        width: 1px;
        height: 16px;
        display: inline-flex;
        background-color: #E0E0E0;
      }
    }
  }
}

/* tab UI */

.tab {
  width: 100%;
}

.tab__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  
  li {
    flex: 1;
    flex-basis: 100%;
    background-color: #ffffff;
    &:not(:last-of-type) {
      border-left: 1px solid #E0E0E0;
    }
    &:not(:first-of-type) {
      border-right: 1px solid #E0E0E0;
    }
  }
}

.tab__item {
  cursor: pointer;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;

  &[aria-selected="true"] {
    color: #ffffff !important;
    background-color: #FB4760 !important;
    border-color: #FB4760 !important;
  }
}

.tab-content {
	clear: both;
	outline: none;
	border: 0;

	.tab-content__panel {
		&[aria-hidden="true"] {
			display: none;
		}
		outline: none;
	}
}

/* radio */

.radio {
  width: 100%;

  &__item {
    display: block;
    text-align: left;
    line-height: 0;
  }

  label + label::before {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    content: '';
  }

  input {
    display: none;
    opacity: 0;
  }

  input + span {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #828282;
    font-size: 16px;
    line-height: 1;
  }  
  
  input + span::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid #DBDBDB;
    vertical-align: bottom;
    box-sizing: border-box;
    content:'';
  }

  input:checked + span {
    color: #1B1B1B;
    font-weight: 600;

    &::before {
      border-color: #FB4760;
    }
  }

  input:checked + span::after {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 4.5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FB4760;
    content: '';
  }
}

.radio-content {
  width: 100%;
  max-width: 100%;
} 

.radio-tab {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin-bottom: 18px;

  input + span::before {
    margin-right: 6px;
  }

  input:checked + span::after {
    left: 4px;
  }

  label + label::before {
    content: none;
  }
}

/* notice-box */

.notice-box {
  padding: 12px;
  margin-bottom: 16px;
  background-color: #F7F7F7;
  border-radius: 5px;

  li {
    display: flex;
    align-items: flex-start;
    color: #828282;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;

    .ico__info {
      display: inline-flex;
      flex-shrink: 0;
      margin-top: 3px;
      margin-right: 6px;
    }
  }
}

/* dropdown */

.dropdown {
  width: 100%;
  max-width: 100%;
  position: relative;
  height: 47.5px;

  &__title {
    position: relative;
    padding: 11px 16px;
    color: #1B1B1B;
    background: #ffffff;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__title::before {
    display: inline-block;
    position: absolute;
    top: 21px;
    right: 20px;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    border-top: 2px solid #BDBDBD;
    border-right: 2px solid #BDBDBD;
    transform: rotate(-225deg);
    content: '';
  }

  &__wrap {
    overflow: hidden;
    height: 0;
    border: none;
    border-radius: 5px;
    z-index: 9;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 11px; 
    background: #ffffff;
    box-sizing: border-box;
  }

  &__item p+p {
    font-weight: 600;
  }

  &__item:hover {
    background-color: #FFF5F6;
  }

  &.dropdown--type01 {
    .dropdown__title {
      font-weight: 400;
      font-size: 16px;
      line-height: 25.6px;
      letter-spacing: -0.02em;
      color: #1B1B1B;
      height: 48px;
      box-sizing: border-box;

      &::before {
        width: 8px;
        height: 8px;
      }

      &:hover {
        border-color: #FB4760;

        &::before {
          border-color: #FB4760;
        }
      }
    }

    .dropdown__wrap {
      .dropdown__item {
        height: 50px;
        box-sizing: border-box;
        padding: 12px 16px;

        span,
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #1B1B1B;
        }
      }
    }

    &.dropdown--type01.dropdown--active {
      .dropdown__wrap {
        height: auto;
        box-sizing: border-box;
        max-height: 240px;
        overflow-y: scroll;
        padding: 0;
      }
    }

    &.text--gray {
      .dropdown__title {
        color: #BDBDBD;
      }
    }
  }

  &.dropdown--type02 {
    .dropdown__title {
      font-weight: 400;
      font-size: 16px;
      line-height: 25.6px;
      letter-spacing: -0.02em;
      color: #1B1B1B;
      height: 48px;
      box-sizing: border-box;

      &::before {
        width: 8px;
        height: 8px;
      }

      &:hover {
        border-color: #FB4760;

        &::before {
          border-color: #FB4760;
        }
      }
    }

    .dropdown__wrap {
      .dropdown__item {
        height: 44px;
        box-sizing: border-box;
        padding: 9px 24px;

        span,
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #1B1B1B;
        }
      }
    }

    &.dropdown--type01.dropdown--active {
      .dropdown__wrap {
        height: auto;
        box-sizing: border-box;
        max-height: 240px;
        overflow-y: scroll;
        padding: 6px 0;
      }
    }
  }
}

.dropdown.dropdown--active {
  height: 47.5px;

  .dropdown__title {
    border: 1px solid #FB4760;
  }

  .dropdown__title::before {
    border-top: 2px solid #FB4760;
    border-right: 2px solid #FB4760;
    transform: rotate(-45deg);
    content: '';
    top: 25px;
  }

  .dropdown__wrap {
    overflow-y: scroll;
    position: absolute;
    width: inherit;
    height: 170px;
    padding: 7px 0;
    margin-top: 6px;
    border: 1px solid #FB4760;
    background-color: #ffffff;
  }
}

.dropdown.dropdown--disabled {
  .dropdown__title {
    color: #BDBDBD;
    background-color: #E0E0E0;
    box-sizing: border-box;
    pointer-events: none;
  }

  .dropdown__title::before {
    border-top: 2px solid #BDBDBD;
    border-right: 2px solid #BDBDBD;
  }
}

/* ---- form -s----  */

.form {
  background-color: #ffffff;

  [type="button"]:disabled,
  [role="button"]:disabled  {
    color: #BDBDBD;
    border: 1px solid #BDBDBD;
    pointer-events: none;
  }

  .label {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.002px;
    color: #1B1B1B;
    
    &--necessary::before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      right: -10px;
      width: 6px;
      height: 6px;
      background-color: #FB4760;
      border-radius: 50%;
    }
  }
  
  .input {
    
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
    }

    &[disabled], &[readonly] {
      color: #BDBDBD;
      background-color: #F7F7F7;
    }
  }

  .input-guid {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .input-guid__input {
    width: calc(100% - 140px);
  }
  
  .input-guid__button {
    width: 130px
  }

  .textfield {
    width: 100%;
    max-width: 100%;
  }
  
  .textfield__input {
    width: 100%;
    max-width: 100%;
    height: 48px;
  }

  .addressfield {
    width: 100%;
    max-width: 100%;
  
    [class*="__content"] > .input-guid__input {
      max-width: 100%;
      width: 100%;
      margin-top: 10px;
    }
  
    .input-guid .input-guid__input {
      width: calc(100% - 110px);
    }
  
    .input-guid__button {
      width: 100px;
      border-color: #4F4F4F;
      color: #4F4F4F;
    }
  }

  .filefield {
    width: 100%;
    max-width: 100%;
  
    &--type-1 .file-input {
      width: 200px;
      height: 280px;
    }
  
    &--type-2 .file-input {
      width: 300px;
      height: 170px;
    }
  }
  
  .file-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    text-align: center;
    border: 1px dashed #BDBDBD;
    border-radius: 5px;
    background-color: #ffffff;
  
    &__placeholder {
      margin-top: 6.5px;
      color: #BDBDBD;
      font-size: 14px;
      font-weight: 500;
    }
  
    .ico__sdelete {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  
    &--default {

      .ico__gallery-image, .file-input__placeholder {
        display: block;
      }
      
      .ico__sdelete {
        display: none;
      }
    }
  
    &--attached {
      
      &.file-input {
        position: relative;
        border-color: transparent;
        background: {
          size: cover;
          position: center;
          repeat: no-repeat;
        }
      }

      .ico__gallery-image, .file-input__placeholder {
        display: none;
      }

      .ico__sdelete {
        display: block;
      }
    }
  }
}

.form__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.form__title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.form__notice-box {
  flex-basis: 100%;
  max-width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #F7F7F7;
  border-radius: 5px;

  li {
    display: flex;
    align-items: flex-start;
    color: #828282;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;

    &::before {
      content: '·';
      display: inline-flex;
      margin-right: 4px;
    }
  }
}

.form__label {
  width: 180px;
  flex-shrink: 0;
  margin-top: 8px;
  margin-right: 20px;
}

.form__notification {
  position: relative;
  display: block;
  margin-top: 10px;
  padding-left: 20px;
  color: #3D87F4;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -.02px;
  margin-left: 16px;

  .ico__form-check {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
  }
}

/* ---- form -e----  */

/* etc */

.no-data {
  margin-top: 200px;
  text-align: center;

  p {
    margin-bottom: 24px;
    color: #828282;
    letter-spacing: -.02em;
  }

  i {
    display: block;
    margin: 0 auto 8px;
  }

  a {
    display: inline-block;
    padding: 5px 14px;
    color: #4F4F4F;
    font-weight: 600;
    border: 1px solid #E0E0E0;
    border-radius: 17px;
    box-sizing: border-box;
  }
}

#guide-modal {
    .default-modal__content {
        height: 624px; //임시
        overflow-y: initial;
    }
    .guide-modal__content {
        width:100%;
        height:100%;
        border:0;
    }
    #allfurn-guide {
        height: 560px;
        padding-top: 90px;
        position: relative;
        section {
            max-height: 100%;
            min-height: 100%;
            > div {
                max-width: 375px;
                height: 100%;
                margin: 0 auto;
            }
        }
        .guidance {
            padding-bottom: 0;
            ul.desc {
                padding-left: 14px;
            }
            &[data-name$="01"] {
                .listitem:nth-of-type(3) .image {
                    padding: 0 0 0 17.08%;
                }
            }
            &[data-name$="08"] {
                .listitem:nth-of-type(5) li.text {
                    width: 260px;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

#allfurn-guide {
    .headertype__mo--fixed {
        .head__fixed {
            height: 44.5px;
        }
        img:last-child {
            display: none;
        }
        & + .container__mo {
            min-height: calc(100vh - 44.5px) !important;
            max-height: 100vh;
            padding-top: 40px;
            box-sizing: border-box;
        }
    }
    .inner {
        padding: 0 16px;
        box-sizing: border-box;
        position: relative;
    }
    .textfield {
        position: absolute;
        top: 0;
        left: 16px;
        right: 16px;
        z-index: 1;
        padding: 20px 0 25px;
        background-color: #ffffff;
    }
    .dropdown {
        .dropdown__title {
            color: #1B1B1B;
        }
        &.dropdown--active .dropdown__wrap {
            height: 40vh;
        }
    }
    section {
        overflow-x: hidden;
        overflow-y: scroll;
        h2 {
            margin-bottom: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            p {
                flex-shrink: 0;
                padding: 0 50px;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: -0.03em;
                text-align: center;
                color: #FB4760;
            }
            &::before, 
            &::after {
                content: '';
                display: inline-block;
                height: 1px;
                width: 100%;
                max-width: 100%;
                background-color: #E0E0E0;
            }
        }
        b {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            color: #FB4760;
        }
    }
    .mo-wrap {
        .inner {
            min-height: 100%;
        }
        .textfield {
            top: -110px;
        }
        section {
            height: 100%;
            max-height: calc(100vh - 150px);
            margin-top: 110px;
            > div {
                height: 100%;
                margin: 0 auto 0;
            }
        }
    }
    .guidance {
        padding-bottom: 60px;
        display: none;
        flex-direction: column;
        align-items: center;
        &[aria-hidden='false'] {
            display: flex; 
        }
        ul.desc {
            padding: 0 20px 0 34px;
            margin: 0 auto 30px;
            li {
                position: relative;
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: -0.02em;
                text-align: left;
                color: #4F4F4F;
                &+li {
                    margin-top: 12px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: -12px;
                    top: 12px;
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    background-color: #1B1B1B;
                    border-radius: 50%;
                }
            }
        }
        .listitem {	
            width: 100%;
            max-width: 100%;
            padding-bottom: 40px;
            box-sizing: border-box;
            &:last-child {
                padding-bottom: 0;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            .row {
                width: 100%;
                max-width: 303px;
                padding: 0;
                margin: 0 auto;
                box-sizing: border-box;
                display: flex;
                &+.row {
                    margin-top: 13px;
                }
                p {
                    flex-shrink: 0;
                    flex-grow: 0;
                    width: 88px;
                }
                .text {
                    max-width: 100%;
                    padding-left: 0;
                    margin: 0 0 0 10px;
                    white-space: nowrap;
                }
            }
            .image {
                width: 100%;
                max-width: 100%;
                padding: 0 10.496%;
                box-sizing: border-box;
            }
            .text {
                width: fit-content;
                padding-left: 28px;
                box-sizing: border-box;
                margin: 0 auto;
                position: relative;
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                line-height: 17px;
                letter-spacing: -0.03em;
                text-align: left;
                color: #4F4F4F;
                &+.text {
                    margin-top: 12px;
                }
                span {
                    width: 17px;
                    height: 17px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 17px;
                    letter-spacing: -0.03em;
                    text-align: center;
                    color: #ffffff;
                    background-color: #1B1B1B;
                    border-radius: 50%;
                }
            }
            ul.text {
                padding-left: 0;
                margin: 0 48px;
            }
            li.text {
                &+li.text {
                    margin-top: 6px;
                }
                span {
                    text-transform: uppercase;
                    background-color: #BDBDBD;
                    border-radius: 0;
                }
            }
            ul.desc {
                margin-bottom: 0;
                &+.text {
                    margin-top: 12px;
                }
                li {
                    font-size: 12px;
                    line-height: 16.8px;
                    letter-spacing: -0.03em;
                    &::before {
                        top: 6px;
                    }
                    &.sub {
                        &:first-child {
                            margin-top: 12px;
                        }
                        margin-left: 12px;
                        color: #BDBDBD;
                        b {
                            color: #FF8798;
                        }
                        &::before {
                            width: 2px;
                            height: 2px;
                            border: 1.5px solid #BDBDBD;
                            background-color: transparent;
                        }
                    }
                }
            }
            .tag {
                min-width: 70px;
                padding: 5px 14px 5px 14px;
                box-sizing: border-box;
                margin: 0 auto 12px;
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                line-height: 17px;
                letter-spacing: -0.03em;
                text-align: center;
                color: #FB4760;
                border-radius: 17px;
                border: 1px solid #FB4760;
            }
            .status {
                height: fit-content;
                padding: 1px 6px 1px 6px;
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                line-height: 17px;
                letter-spacing: -0.03em;
                text-align: center;
                border-radius: 5px;
                white-space: nowrap;
                &--solid {
                    color: #ffffff;
                    background-color: #FB4760;
                }
                &--trans {
                    color: #FB4760;
                    background-color: #FFF5F6;
                }
                &--black {
                    color: #ffffff;
                    background-color: #1B1B1B;
                }
                &--gray {
                    color: #828282;
                    background-color: #F2F2F2;
                }
            }
        }
        &[data-name$="01"] {
            .text {
                min-width: 236px;
            }
            ul.desc {
                padding-right: 8px;
            }
            .listitem:nth-of-type(3) .image {
                padding: 0 10% 0 13.78%;
            }
        }
        &[data-name$="02"] {
            .listitem:nth-of-type(1) .text {
                width: 294px;
            }
        }
        &[data-name$="03"] {
            .listitem:nth-of-type(1) {
                div.text {
                    width: 280px;
                    padding-left: 44px;
                    span {
                        left: 18px;
                    }
                }
                ul.text {
                    padding-left: 52.5px;
                    display: grid;
                }
                li.text {
                    width: 251px;
                }
            }
        }
        &[data-name$="04"] {
            .text {
                width: 304px;
            }
        }
        &[data-name$="05"] {
            .text {
                width: 248px;
            }
        }
        &[data-name$="06"] {
            .text {
                width: 230px;
            }
        }
        &[data-name$="07"] {
            .image {
                padding: 0 6.27%;
            }
            .text {
                width: 244px;
            }
        }
        &[data-name$="08"] {
            .text {
                width: 304px;
            }
            li.text span {
                background-color: #828282;
            }
            .listitem:nth-of-type(2) .image {
                padding: 0 18.78% 0 5%;
            }
            .listitem:nth-of-type(5) {
                div.text {
                    width: 300px;
                    padding-left: 44px;
                    span {
                        left: 18px;
                    }
                }
                ul.text {
                    padding-left: 52.5px;
                }
                li.text {
                    width: 260px;
                }
            }
        }
        &[data-name$="09"] {
            .tag {
                min-width: 120px;
            }
        }
        &[data-name$="10"] {
            .text {
                width: 76.498%;
            }
        }
        &[data-name$="15"] {
            .text {
                width: 70.845%;
            }
        }
        &[data-name$="16"] {
            .text {
                width: 72%;
            }
        }
        &[data-name$="17"] {
            .text {
                width: 81.567%;
            }
        }
    }
}

/* mobile related */

.mo-wrap {
	min-width: 100% !important;
    img {
        width: 100%;
    }
    .headertype__mo {
        height: auto;
        .head__fixed {
            height: inherit;
        }
        &--static {
            .head__fixed {
                position: static;
            }
        }
        &--fixed {
            .head__fixed {
                height: 92px;
                overflow: hidden;
            }
            & + .container__mo {
                padding-top: 92px;
            }
        }
        .inner {
            width: 100%;
            padding: 0;
            margin: 0;
            display: block;
            div {
                width: 100%;
                height: 92px;
                padding: 0;
                margin: 0;
                display: block;
                background: {
                    size: 100% 92px;
                    position: center top;
                    repeat: no-repeat;
                }
            }
        }
    }
    .container__mo {
        min-height: calc(100vh - 92px) !important;
        padding: 0;
        margin: 0;
        position: relative;
        .inner__mo {
            width: 100%;
            padding: 0;
            .content__mo {
                > div:not(.view) {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    display: block;
                    background: {
                        size: 100%;
                        position: 0 0;
                        repeat: no-repeat;
                    }
                }
            }
            //-- start -->
            .view {
                height: auto;
                padding: 16px;
                img {
                    max-width: 100%;
                    display: block;
                }
                p {
                    font-size: 16px;
                }
                img + p {
                    padding-top: 16px;
                }
            }
            //-- end -->
            .indicator {
                z-index: 9;
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        &::after {
            content: '';
            z-index: 99;
            display: block;
            width: 134px;
            height: 5px;
            position: fixed;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            background: {
                image: url('../images/temp/mo_Home_Indicator.png');
                size: 134px 8px;
                position: center top;
                repeat: no-repeat;
            }
        }
    }
}