@use 'sass:math';

input, button  {
  margin: 0;
  padding: 0;
}

.inner {
  &__title {
    display: block;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
  }

  &__button {
    border: 1px solid #000000;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 999;

  &__content {
    text-align: center;
    font-size: 16px;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content .header {
    height: 84px;
    padding: 27px 24px;
    background-color: #ffffff;
    text-align: left;
    box-sizing: border-box;
  }

  &__content .content {
    overflow-y: scroll;
    padding: 0 24px;
    background-color: #ffffff;
  }

  &__content .footer {
    background-color: #ffffff;
  }


  &__desc {
    padding: 37px 20px;
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #E0E0E0;
  }

  &__button {
    display: block;
    height: 48px;
    background-color: #FB4760;
    line-height: 48px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__button span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 48px;
    font-weight: 600;
  }

  &__buttons--half {
    height: 48px;
  }

  &__buttons--half &__button {
    display: inline-block;
    float: left;
    width: 50%;
    background-color: #BDBDBD;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
  }


  &__buttons--half::before {
    display: inline-block;
    content: '';
    clear: both;
  }

  &__buttons--half &__button + &__button {
    background-color: #FB4760;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
  }

  .modal-close {
    position: absolute;
    top: 29px;
    right: 24px;
  }

  &__close-button {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  &__close-button::after {
    display: inline-block;
    width: 2px;
    height: 14px;
    margin-right: -5px;
    background: #000000;
    transform: rotate(45deg);
    content: '';
  }

  &__close-button::before {
    display: inline-block;
    width: 2px;
    height: 14px;
    margin-right: -2px;
    background: #000000;
    transform: rotate(-45deg);
    content: '';
  }
}

.modal-box {
  &__content {
    position: relative;
    margin: 0 auto;
  }
}

.pagenation {
  .prev,
  .next {
    display: inline-block;
    height: 23px;
    margin-right: 6px;
    vertical-align: bottom;
  }


.numbering {
  display: inline-block;

  a {
    float: left;
    width: 27px;
    height: 26px;
    color: #828282;
    text-align: center;
    line-height: 26px;
  }

  p + p {
    margin-left: 6px;
  }

  &--active {
    background-color: #FFF5F6;
    color: #FB4760 !important;
    border-radius: 3px;
  }

  &--active-black {
    background-color: #ffffff;
    border-radius: 3px;
  }

  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

}

[class^=community-] {
  .tag__color {
    background-color: #FFF5F6 !important;
    color: #FB4760 !important;
  }
}

.community-content {

  &__item {
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
  }

  &__container {
    position: relative;
    padding-bottom: 30px;
  }

  &__content {
    width: 82%;
    padding: 16px 24px 0;
    box-sizing: border-box;
  }

  &__info {
    position: relative;
    height: 50px;
    padding: 12px 24px 0;
    border-top: 1px solid #f2f2f2;
    box-sizing: border-box;
  }

  &__type p {
    display: inline-block;
    padding: 1px 6px 1px 6px;
    color: #828282;
    font-size: 13px;
    font-weight: 600;
    background-color: #F2F2F2;
    border-radius: 5px;
  }

  &__type p+p {
    margin-left: 4px;
  }

  &__image {
    position: absolute;
    top: 52px;
    right: 24px;
    width: 66px;
    height: 66px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }

  &__desc p {
    margin-top: 14px;
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.2px;
    // @include ellipse($lines: 2);
  }

  &__writer p {
    color: #333333;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.2px;
  }


  &__utils {
    display: inline-block;
  }

  &__util {
    float: left;
    position: relative;
    padding-left: 22px;
    &:first-child {
      padding-left: 0;
    }
  }

  &__util + &__util {
    margin-left: 16px;
  }

  &__util svg {
    position: absolute;
    top: 2px;
    left: 0;
  }

  &__util p {
    color: #828282;
  }

  &__time {
    position: absolute;
    right: 24px;
    bottom: 16px;
    color: #828282;
  }

  &__count svg {
    margin-top: 1px;
  }
}

.community-content.community-content--full {
  .community-content__content {
    width: 100%;
  }
}

.community-reply {
  position: relative;

  .tag__color {
    padding: 1px 6px 1px 6px;
    margin-right: 5px;
    font-size: 13px;
    font-weight: 600;
  }

  &__head {
    display: flex;
  }

  &__item {
    padding: 16px 24px 20px;
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__more {
    position: absolute;
    top: 16px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__title {
    padding-right: 40px;
    color: #4F4F4F;
    font-size: 15px;
  }

  &__text {
    margin-top: 7px;
  }

  &__desc {
    display: inline-block;
    width: 90%;
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    letter-spacing: -.2px;
  }

  &__time {
    position: absolute;
    top: 47px;
    right: 24px;
    color: #828282;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: -.2px;
   
  }
}

.community-comment {
  &__item {
    padding: 16px;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  &__title {
    display: inline-block;
    color: #1B1B1B;
    font-size: 15px;
    font-weight: 600;
  }

  &__title + &__time::before {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #BDBDBD;
    vertical-align: middle;
    content: '';
  }

  &__time {
    display: inline-block;
    color: #828282;
    font-size: 14px;
    line-height: 22px;
  }

  &__desc {
    margin-top: 4px;
    margin-bottom: 8px;
    color: #333333;
    font-size: 16px;
    letter-spacing: -.02em;
  }

  &__text {
    padding-left: 22px;
    color: #828282;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.02em;
    background: url('../images/component/icon_reply.png') 0 center  no-repeat;
    background-size: 15px;
  }
}

.community-comment.community-comment--full {
  .community-comment__item {
    padding: 16px 38px;
  }
}

.mypage-menu {
  &__item {
    display: block;
    position: relative;
    height: 52px;
    padding: 13px 24px 16px;
    background-color: #ffffff;
    box-sizing: border-box;

    &.item__new {
      .mypage-menu__title {
        color: #FB4760;
      }
  
      .mypage-menu__title::after {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-top: 2px;
        margin-left: 8px;
        background: url('../images/component/icon_new.png') right 0 no-repeat;
        background-size: 15px;
        vertical-align: text-top;
        content: '';
      }
    }
  }

  &__arrow {
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 16px;
  }

  &__title {
    font-size: 16px;
  }

  
}

.category {
  &__item {
    display: block;
    height: 44px;
    background-color: #ffffff;
  }

  &__wrap {
    display: flex;
    height: 100%;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 17px 11px;
    align-items: center;

    [class^=ico_] {
      margin-left: 17px;
    }

  }

  svg {
    padding-top: 11px;
    padding-left: 17px;
  }

  &__title {
    display: inline-block;
    padding-left: 16px;
    color: #1B1B1B;
    font-size: 16px;
  }

  &__item--bold span {
    font-weight: 600;
  }

  &__item--color span {
    color: #FB4760;
    font-weight: 600;
  }

  &__item--solid {
    background-color: #FFF5F6;
  }

  &__item--solid span {
    color: #FB4760;
    font-weight: 600;
  }

  &__check {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
  }

  &__check--bold span {
    font-weight: 600;
  }

  &__check input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    margin-left: 16px;
  }

  &__check span {
    display: block;
    padding-left: 16px;
    line-height: 44px;
  }

  &__check span::before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: -4px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    background-color: #ffffff;
    vertical-align: middle;
    content:'';
  }
  &__check input + span::after { 
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url('../images/component/icon_check_gray.png') 0 0 no-repeat;
    background-size: 11px;
    content:'';
  }

  &__check input:checked + span::before {
    background-color: #FB4760;
    border: 1px solid #FB4760;
  }

  &__check input:checked + span::after{
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url('../images/component/icon_check_white.png') 0 0 no-repeat;
    background-size: 11px;
    content:'';
  }

  &__check--right span::before {
    position: absolute;
    top: 16px;
    right: 0;
  }

  &__check--right input + span::after,
  &__check--right input:checked + span::after {
    top: 18px;
    left: 90%;
  }
}

.textfield {
  position: relative;

  &__search {
    height: 48px;
    padding-left: 48px;
    background-color: #ffffff;
    color: #1B1B1B;
    line-height: 48px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-sizing: border-box;

    &.search--delete {
      padding-right: 48px;
    }
  }

  &__icon {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 16px;
  }

  &__icon--delete {
    display: none;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: url('../images/component/icon_delete.png') 0 0 no-repeat;
    background-size: contain;
    content: '';
  }

  &__input {
    padding-left: 16px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #DBDBDB; 
    box-sizing: border-box;
  }

  &__input::placeholder {
    color: #1B1B1B; 
  }

  &__input--gray {
    border: 1px solid #DBDBDB; 
  }

  &__input--gray::placeholder {
    color: #DBDBDB; 
  }

  &__input--border-gray {
    border: 1px solid #828282; 
  }

  &__input--border-gray::placeholder {
    color: #828282; 
  }

  &__input--big-space {
    padding: 16px 32px;
    box-sizing: border-box;
    border: 1px solid #F7F7F7;
  }

  &__input--big-space::placeholder {
    color: #4F4F4F; 
  }



}

.textfield.textfield--active {
  .textfield__icon--delete {
    display: inline-block
  }
}

.input-guid {
  &__input {
    height: 48px;
    padding: 16px 11px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__button {
    color: #BDBDBD;
    text-align: center;
    height: 48px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-weight: 600;
  }
}

.button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition: all .3s ease;

  &__wrap {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  &--solid {
    background-color: #FB4760;
    color: #ffffff;
    font-size: 16px;
  }

  &--solid:hover:not([disabled]) {
    background-color: #d04d5a;
    color: #ffffff;
  }

  &--solid:disabled {
    background-color: #FDA3B0;
  }

  &--blank {
    border: 1px solid #FB4760;
    color: #FB4760;
  }

  &--blank:hover:not([disabled]) {
    background-color: #f9e4e7;
  }

  &--blank:disabled {
    border: 1px solid #FDA3B0;
    color: #FDA3B0;
  }

  &--solid-gray {
    background-color: #4F4F4F;
    color: #ffffff;
  }

  &--solid-gray:hover:not([disabled]) {
    background-color: #333333;
  }

  &--solid-gray:disabled {
    background-color: #BDBDBD;
  }

  &--blank-gray {
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
  }

  &--blank-gray:hover:not([disabled]) {
    background-color: #d9d9d9;
  }

  &--blank-gray:disabled {
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
  }

  &--round {
    border-radius: 17px;
  }

  &--etc {
    border: 1px solid #E0E0E0;
    color: #333333;
    border-radius: 5px;
  }

  &--etc:hover {
    background-color: #E0E0E0;
  }
}

.link-button {
  padding: 0 40px;
  color: #828282;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  
  &__wrap {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    li {
      display: inline-flex;
      flex-grow: 0;
    }

    li + li {
      position: relative;
  
      &::before {
        margin-top: 4px;
        content: '';
        width: 1px;
        height: 16px;
        display: inline-flex;
        background-color: #E0E0E0;
      }
    }
  }
}

.tab__field {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.tab {
  flex: 1;
  flex-basis: 100%;
  padding: 10px 16px;
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  &:not(:last-of-type) {
    border-left: 1px solid #E0E0E0;
  }
  &:not(:first-of-type) {
    border-right: 1px solid #E0E0E0;
  }

  &.tab__selected {
    color: #ffffff !important;
    background-color: #FB4760 !important;
    border-color: #FB4760 !important;
  }
}

.notice-box {
  padding: 12px;
  margin-bottom: 16px;
  background-color: #F7F7F7;
  border-radius: 5px;

  li {
    display: flex;
    align-items: flex-start;
    color: #828282;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;

    .ico__info {
      display: inline-flex;
      flex-shrink: 0;
      margin-top: 3px;
      margin-right: 6px;
    }
  }
}