@use 'sass:math';

.event {
  width: 100%;
  height: 384px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  &__badge {
    position: absolute;
    left: calc(50% + 500px);
    bottom: 20px;
    height: 28px;
    padding: 0 12px;
    border-radius: 51px;
    background-color: rgba(0, 0, 0, 0.4);

    span {
      line-height: 28px;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: -0.02em;
      color: rgba(255, 255, 255, 1);

      &:nth-child(2) {
        font-size: 12px;
        letter-spacing: -0.03em;
        color: rgba(224, 224, 224, 1);
      }

      &:nth-child(3) {
        font-weight: 400;
        color: rgba(224, 224, 224, 1);
      }
    }
  }
}

.content {
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 32px;
  }

  &__title--top {
    margin-top: 80px;
  }

  // 상품
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: 276px;

      .item {
        display: block;
        width: 276px;
        height: 276px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
        }

        .badge {
          position: absolute;
          bottom: -10px;
          left: 16px;
          height: 21px;
          padding: 1px 6px 0;
          background-color: #1B1B1B;
          border-radius: 5px;
          font-weight: 600;
          font-size: 13px;
          line-height: 22px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }
      }

      &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 27.9px;
        letter-spacing: -0.03em;
        margin-top: 21px;
        margin-bottom: 40px;
        padding: 0 16px;
        max-height: 56px;
        overflow: hidden;
        // 두번째 줄 말줄임 표시 IE 적용 불가
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
      }
    }
  }

  // 커뮤니티
  &__title--community {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .view-all {
      display: flex;
      align-items: center;

      a {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #828282;
      }

      img {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__container--community {
    display: flex;
    margin-bottom: 72px;

    .card {
      width: calc(50% - 32px);

      &:first-child {
        margin-right: 64px;
      }

      h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 27.9px;
        letter-spacing: -0.03em;
        color: #333333;
        padding-bottom: 16px;
        border-bottom: 2px solid #4F4F4F;
        margin-bottom: 16px;
      }

      .list {
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        .badge {
          height: 21px;
          padding: 1px 6px 0;
          background-color: #FFF5F6;
          border-radius: 5px;
          font-weight: 600;
          font-size: 13px;
          line-height: 22px;
          letter-spacing: -0.02em;
          color: #FB4760;
        }

        .description {
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          margin: 0 6px;
          max-height: 26px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          -ms-text-overflow: ellipsis;
        }

        .count {
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #FF8798;
        }
      }
    }
  }

  .simulator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
    width: 100%;
    height: 147px;
    border-radius: 5px;
    background: linear-gradient(96.11deg, #FD4962 0%, #FB4760 48.02%, #FF8798 101.32%);

    &__title-wrap {
      display: flex;
      align-items: flex-end;

      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 26.82px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        margin-left: 42.9px;
      }

      img {
        width: 18px;
        height: 18px;
        margin-left: 12px;
        margin-bottom: 5px;
      }
    }

    &__img-wrap {
      width: 100px;
      height: 100px;
      margin-right: 80px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}