@use 'sass:math';

.member {
  margin-bottom: 40px;

  .tab__item {
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 400;
  }

  .dropdown {
    margin-bottom: 0;
  }
    
  .radio__item {
    margin-right: 42px; 
    
    span {
      color: #1B1B1B;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
    }
  }

  input[id*="accreditation"] {
    width: calc(100% - 130px);
  }

  input[id*="accreditation"] + .input-guid__button {
    width: 120px;
  }

  .input-guid + .input-guid__input {
    margin-top: 10px;
    width: 100%;
  }

  .dropdown + .input-guid__input {
    margin-top: 10px;
    width: 100%;
  }

  .form__check-box {
    margin-top: 72px;
  }

  .check-box {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
  }

  .check-box__list {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;

    &--checkall {
      border-bottom: 1px solid #E0E0E0;
    }
  }
  
  .check-box__label {
    color: #333333;
    font-size: 16px;
    font-weight: 400;

    span {
      margin-left: 0;
    }

    * {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
  }

  .check-box__button {
    padding: 0;
    color: #828282;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    text-decoration: underline;
  }

  .button-wrap {
    margin-bottom: 20px;
  
    .button {
      width: 100%;
      padding: 11px 16px;
      display: block;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
  
      + .button {
        margin-top: 10px;
      }
    }
  }

  .form__submit-button {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }

  .modal {

    &__container {
      width: 350px;
    }

    &-box__container {
      overflow: hidden;
      background: #ffffff;
      border-radius: 5px;
      border: 1px solid #E0E0E0;
    }

    &__desc {
      padding: 37px 24px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 0;
      font-size: 16px;
      font-size: 500;
      color: #1B1B1B;
    }

    &__button {
      height: 40px;
      max-width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      background-color: #FB4760;
      line-height: 40px;
      text-align: center;
      border-radius: 0;

      span {
        line-height: inherit;
      }
    }
  }
}

.login {

  .inner__center {
    height: 100vh;
  }

  .head__logo {
    display: block;
    margin: 0 auto 40px;
  }

  .textfield__input {
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #1B1B1B;

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .textfield__inputlabel {
    display: block;
    color: #333333;
    font-size: 15px;
    font-weight: 500;
  }

  .textfield__inputlabel + .textfield__input {
    margin-top: 6px;
  }

  .login__notice-box {
    max-width: 100%;
    padding: 12px 16px;
    margin-bottom: 24px;
    background-color: #F7F7F7;
    border-radius: 5px;

    ul li {
      position: relative;
      padding-left: 8px;
      color: #828282;
      font-size: 14px;
      font-weight: 500;
    }

    ul li::before {
      content: '·';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.register {
  padding-top: 40px;

  .register__heading {
    display: block;
    margin-bottom: 10px;
    color: #1B1B1B;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
  }
  
  .content {
    padding-top: 32px;
    border-top: 2px solid #4F4F4F;
  }

  .content > .content__item {
    padding: 0 107px;
  }
  
  .content__item {
    margin-bottom: 72px;
  }

  .tab-content {
    margin-top: 72px;
  }

  .content__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  .content__item .notice-box {
    margin-bottom: 40px;
  }

  .button-wrap {
    width: 916px;
    margin-top: 32px; 
    margin-left: -95px;
    margin-right: -95px;
    padding-top: 32px;
    border-top: 1px solid #E0E0E0;
    text-align: center;
  }
}

.register-complete {

  .register-complete__heading {
    display: block;
    margin-bottom: 24px;
    text-align: center;
    color: #1B1B1B;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
  }

  .register-complete__notice {
    max-width: 100%;
    padding: 24px 16px;
    margin-bottom: 26px;
    text-align: center;
    color: #1B1B1B;
    strong {
      color: #FB4760;
    }
    font-size: 18px;
    font-weight: 500;
    background: #F7F7F7;
    border-radius: 12px;
  }

  .ico__email {
    margin: 0 auto 6px;
  }

  .register-info {
    margin-bottom: 45px;
    text-align: center;
  }

  .register-info__title {
    margin-bottom: 4px;
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 600;
  }

  .register-info__desc {
    color: #4F4F4F;
    font-size: 15px;
    font-weight: 500;
    span {
      color: #BDBDBD;
    }
  }

  .button-wrap {
    max-width: 400px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.resetting {
	padding-top: 40px;

  .resetting__heading {
    display: block;
    margin-bottom: 10px;
    color: #1B1B1B;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
  }
  
  .content {
    padding-top: 32px;
    border-top: 2px solid #4F4F4F;
  }

  .content__item {
    padding: 0 107px;
    margin-bottom: 52px;
  }

  .content__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  
  .input-guid__input {
    width: calc(100% - 130px);
  }

  .input-guid__button {
    width: 120px;
  }

  .button-wrap {
    width: 916px;
    margin-top: 32px; 
    margin-left: -95px;
    margin-right: -95px;
    padding-top: 32px;
    border-top: 1px solid #E0E0E0;
    text-align: center;
  }
}

.agreement {
	padding-top: 40px;

  .agreement__heading {
    display: block;
    margin-bottom: 10px;
    color: #1B1B1B;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
  }
  
  .content {
    padding-top: 32px;
    border-top: 2px solid #4F4F4F;
  }

  .content__item {
    padding: 0 107px;
    margin-bottom: 72px;
  }

  .content__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  .content__item .notice-box {
    margin-bottom: 40px;
  }

  .form__check-box {
    margin-top: 0;
  }

  .button-wrap {
    width: 916px;
    margin-top: 32px; 
    margin-left: -95px;
    margin-right: -95px;
    padding-top: 32px;
    border-top: 1px solid #E0E0E0;
    text-align: center;
  }
}