@use "mixins";
@use 'sass:math';

.message {

  [type="button"], 
  [role="button"] {
    cursor: pointer;
  }

  [aria-hidden="false"] {
    display: block !important;
  }
  [aria-hidden="true"] {
    display: none !important;
  }

  .textfield__icon--delete {
    top: 10px;
  }

  .inner {
    padding-left: 0;
    padding-right: 0;
  }

  &__container {
    max-width: 100%;
    height: 877px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 40px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
  }

  &__aside, &__section {
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
  }

  &__aside {
    width: 400px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    .content {
      width: 100%;
    }

    .content__title {
      flex-basis: 312px;
    }
  }

  &__section {
    width: 776px;
    position: relative;
    border-left: 1px solid #DBDBDB;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;

    .content {
      width: calc(100% - 3px);
    }
  }

  .content {
    height: 100%;
    background-color: #ffffff;
    border-radius: inherit;

    &__head {
      height: 74px;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 21px 24px;
      box-sizing: border-box;
      border-bottom: 1px solid #E0E0E0;

      &-button {
        display: flex;
        align-items: center;
      }

      .head-button {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        // &:hover:not([disabled]) {
        //   background-color: #E0E0E0;
        // }
        &:not(:nth-of-type(1)) {
          margin-left: 10px;
        }
      }
    }

    &__title {
      max-width: 480px;
      @include mixins.ellipse(1);
      margin: 0;
      font-size: 18px;
      line-height: 28px;
      text-align: left;
    }

    &__info {
      width: 600px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      > * {
        flex-shrink: 0;
        cursor: default;
      }

      .logo {
        height: 32px;
        width: 32px;
        margin-right: 12px;
        border-radius: 50%;
      }

      .alarm {
        padding: 0 6px;
        margin-left: 6px;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: center;
        border-radius: 5px;
        &--on {
          color: #FB4760;
          border: 1px solid #FF8798;
        }
        &--off {
          color: #828282;
          border: 1px solid #828282;
        }
      }
    }

    &__navi {
      z-index: 3;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: 1px solid #E0E0E0;
      min-height: 84px;
      max-height: 710px;
      padding: 14px 68px 8px;
      box-sizing: border-box;
      background: #ffffff;

      .row {
        cursor: default;
        margin-bottom: 8px;
        color: #828282;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.02em;
      }

      .cate {
        display: flex;
        flex-wrap: wrap;
      }

      .cate__badge {
        padding: 1px 6px;
        margin: 0 4px 0 0;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        background: #F2F2F2;
        border-radius: 5px;
      }

      .navi-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        span {
          margin: 0 0 0 4px;
        }
      }

      .tel {
        cursor: pointer;
        color: #333333;
      }
    }

    &__usermenu {
      z-index: 4;
      width: 168px;
      position: absolute;
      top: 48px;
      right: 24px;
      padding: 6px 0;
      background-color: #ffffff;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
      box-shadow: 0px 0px 8px 2px #0000000A;

      .usermenu__item {
        cursor: pointer;
        display: block;
        padding: 9px 24px;
        color: #1B1B1B;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  .content--empty {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .empty {
      color: #828282;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: -0.02em;
      text-align: center;
    }

    .ico__dialogue {
      margin-bottom: 14.5px;
    }
  }

  .aside {
    height: 100%;
    position: relative;

    .notice-box {
      margin-left: 24px;
      margin-right: 24px;
    }

    .aside-list {
      width: 100%;
      max-height: calc(100% - 73px);
      padding-top: 16px;
      padding-bottom: 16px;
      position: relative;
      box-sizing: border-box;
      overflow-y: auto;

      &__item {
        max-width: 100%;
        width: 100%;
        padding: 14px 24px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F2F2F2;
        cursor: pointer;
        &:last-of-type {
          border-bottom: 0;
        }
        &--active {
          background: #FFF5F6;
        }
      }

      &__content {
        flex-basis: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }

    .profile {
      flex-shrink: 0;
      width: 56px;
      height: 56px;
      box-sizing: border-box;
      margin-right: 14px;
      border: 1px solid #F2F2F2;
      border-radius: 50%;
      overflow: hidden;
    }

    .list__info {
      margin-top: 3px;
      flex-grow: 0;
      flex-shrink: 0;
      width: 282px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .title {
        flex-grow: 0;
        width: 232px;
        margin-right: 26px;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: -0.02em;
        @include mixins.ellipse(1);
      }

      .timestamp {
        margin-top: 2px;
        margin-bottom: 6px;
        display: flex;
        flex-wrap: nowrap;

        .row {
          display: flex;

          + .row {
            margin-left: 2px;
          }
        }

        span {
          color: #828282;
          font-size: 14px;
          font-weight: 500;
          line-height: 22.4px;
          letter-spacing: -0.02em;
          white-space: nowrap;
        }
      }
    }

    .list__badge {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%; //282px
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .preview {
        flex-grow: 0;
        width: 232px;
        color: #333333;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.02em;
        @include mixins.ellipse(1);
      }

      .new {
        flex-shrink: 0;
        max-width: 42px;
        height: 22px;
        padding: 3px 8px 4px 7px;
        margin-left: 8px;
        box-sizing: border-box;
        font-size: 11px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: -0.03em;
        text-align: center;
        white-space: nowrap;
        border-radius: 100px;
        color: #ffffff;
        background-color: #FB4760;
      }
    }
  }

  .section {
    height: calc(100% - 74px);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    &__bottom {
      height: 73px;
      max-width: 100%;
      padding: 12px 18px;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      border-top: 1px solid #DBDBDB;
      background-color: #ffffff;
      border-bottom-right-radius: 5px;

      &-button {
        display: flex;
        align-items: center;
      }

      .bottom-button {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        // &:hover:not([disabled]) {
        //   background-color: #E0E0E0;
        // }
      }

      .textfield {
        flex: auto 0 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      .textfield__icon--delete {
        top: 14px;
      }
    }
  }

  .dialogue-insearch {
    max-height: 74px;
    padding: 18px 24px 16px 56px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 5px;

    .ico__search {
      left: 12px;
      top: 8px;
    }

    .textfield {
      width: 100%;
      max-width: 100%;
    }

    .textfield__search {
      width: 100%;
      max-width: 100%;
      height: 40px;
      padding-left: 40px;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.02em;
      background: #F2F2F2;
      border: 0;

      &::placeholder {
        color: #828282;
      }
    }
  }

  .dialogue-insearch-close {
    position: absolute;
    left: 20px;
    top: 22px;
  }

  .list-insearch {
    max-height: 74px;
    padding: 18px 24px 16px 56px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 5px;

    .ico__search {
      position: absolute;
      left: 12px;
      top: 8px;
    }

    .textfield {
      width: 100%;
      max-width: 100%;
    }

    .textfield__search {
      width: 100%;
      max-width: 100%;
      height: 40px;
      padding-left: 40px;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.02em;
      background: #F2F2F2;
      border: 0;

      &::placeholder {
        color: #828282;
      }
    }
  }

  .list-insearch-close {
    position: absolute;
    left: 20px;
    top: 22px;
  }

  .list-insearch-history {
    padding: 16px 24px;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;

    .title {
      cursor: default;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: -0.02em;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      color: #1B1B1B;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.02em;

      [role="button"] {
        color: #828282;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
      }
    }

    .ico__delete10 {
      margin-top: 6px;
    }

    .empty {
      margin-top: 347px;
      color: #BDBDBD;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.02em;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .no-result {
      margin-top: 347px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #828282;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: -0.02em;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      .ico__search-circle {
        margin-bottom: 8px;
      }
    }
  }

  .navi-toggle {
    margin: 0 0 0 4px !important;
    &[aria-checked="true"] {
      transform: rotateX(180deg);
    }
    &[aria-checked="false"] {
      transform: rotateX(0);
    }
  }

  .message-input  {
    width: 625px;
    height: 48px;
    flex: auto 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;

    &::placeholder {
      color: #BDBDBD;
    }
  }

  .message-submit {
    width: 50px;
    height: 34px;
    flex: auto 0 0;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    border-radius: 17px;
    color: #ffffff;
    background-color: #FB4760;
    border: 0;
    &[disabled="true"] {
      color: #BDBDBD;
      background-color: #F2F2F2;
    }
  }

  .dialogue {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    overflow-y: auto;
    background: #F7F7F7;
    border-radius: 5px;

    .date {
      padding: 16px 0;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      span {
        padding: 2px 10px;
        margin: 0 auto;
        color: #ffffff;
        font-size: 13px;
        font-weight: 600;
        background: #BDBDBD;
        border-radius: 100px;
      }
    }

    .chat {
      padding: 10px 16px;
      color: #1b1b1b;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;
      background: #ffffff;
      border: 1px solid #E0E0E0;
      &--left {
        border-radius: 0 10px 10px 10px;
      }
      &--right {
        border-radius: 10px 0 10px 10px;
      }
    }

    .chat--photo {
      cursor: pointer;
      width: 308px;
      padding: 0;
      border: 1px solid #E0E0E0;
      border-radius: 10px;
      background: {
        size: cover;
        position: center;
        repeat: no-repeat;
      }
    }

    .chat--disabled {
      color: #BDBDBD;
    }

    .timestamp {
      height: 12px;
      position: absolute;
      bottom: 4px;

      span {
        color: #828282;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.03em;
      }

      &--left {
        left: calc(100% + 8px);
      }

      &--right {
        right: calc(100% + 8px);
      }
    }

    .avatar {
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      border: 1px solid #E0E0E0;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
    }

    .chat-box {
      position: relative;
      clear: both;
      margin-bottom: 10px;

      &__head {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: -0.02em;

        span {
          color: inherit;
          font-size: inherit;
          font-weight: inherit;
          line-height: inherit;
          letter-spacing: inherit;
        }
      }

      &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
      }

      &--left {
        max-width: 70%;
        float: left;
      }

      &--right {
        max-width: 65%;
        float: right;
      }

      &--avatar {
        padding-left: 48px;
      }
    }

    /* 정형 메시지 타입 - 상품 공유 */

    .chat-box--product {
      width: 356px;
      max-width: 356px;
      padding: 0;
      cursor: pointer;
    }

    .chat--product {
      padding: 12px 16px 18px;
    }

    .product-thumnail {
      flex-shrink: 0;
      width: 48px;
      height: 48px;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      border-radius: 5px;
      overflow: hidden;
      background: {
        size: 48px;
        position: center;
        repeat: no-repeat;
      }
    }

    .product-info {
      flex-shrink: 0;
      width: 266px;
      margin-left: 10px;

      &__title {
        color: #4F4F4F;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.02em;
        @include mixins.ellipse(2);
      }

      &__desc {
        color: #1B1B1B;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -0.02em;

        span {
          color: inherit;
          font-size: inherit;
          font-weight: inherit;
          line-height: inherit;
          letter-spacing: inherit;
        }
      }
    }

    /* 정형 메시지 타입 - 서비스 안내 */

    .chat-box--cs {
      width: 308px;
      max-width: 308px;
      cursor: pointer;
    }

    .chat--cs {
      padding: 12px 16px 16px;
    }

    .cs-info {

      &__title {
        margin-bottom: 10px;
        color: #1B1B1B;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.02em;
      }

      &__button {
        padding: 8px 0;
        display: block;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: center;
        border: 1px solid #E0E0E0;
        border-radius: 5px;

        span {
          color: inherit;
          font-size: inherit;
          font-weight: inherit;
          line-height: inherit;
          letter-spacing: inherit;
        }

        & + .cs-info__button {
          margin-top: 10px;
        }
      }
    }

    // .chat-box--new {
      // transform: scale(0);
      // transform-origin: 0 0;
      // animation: bounce 500ms linear both;
    // }
  }

  /* 메시지 페이지 내 모달 */

  .modal {

    &__container {
      width: 350px;
    }

    &-box__container {
      overflow: hidden;
      background: #ffffff;
      border-radius: 5px;
      border: 1px solid #E0E0E0;
    }

    &__desc {
      padding: 37px 24px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 0;
      font-size: 16px;
      font-size: 500;
      color: #1B1B1B;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__button {
      height: 40px;
      width: 100%;
      max-width: 100px;
      display: block;
      margin-bottom: 20px;
      background-color: #FB4760;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: -0.02em;
      text-align: center;
      border-radius: 0;
      span {
        font-weight: inherit;
        line-height: inherit;
      }

      & + .modal__button {
        margin-left: 10px;
      }

      &--gray {
        background-color: #BDBDBD;
      }
    }
  }

  /* section__bottom 사진 첨부 */

  .section__bottom--photo {
    height: 126px;

    &-text {
      height: 160px;
    }
  }

  .message-input--photo {
    height: 100px;
    padding: 11px 16px;

    &-text {
      height: 133px;
      padding: 99px 16px 6px 16px;
    }
  }

  .textfield--photo {

    .photo-container {
      position: absolute;
      top: 12px;
      left: 16px;
      width: 100%;
      max-width: 594px;
      display: flex;
      flex-wrap: wrap;
    }

    .photo {
      height: 78px;
      width: 78px;
      &:not(:first-of-type) {
        margin-left: 16px;
      }
      box-sizing: border-box;
      position: relative;
      background: {
        size: cover;
        position: center;
        repeat: no-repeat;
      }
      border: 1px solid #F2F2F2;
      border-radius: 5px;

      .button {
        position: absolute;
        top: -6px;
        right: -6px;
      }
    }
  }

  /* section__bottom 상품 문의 첨부 */

  .product-quotation {
    cursor: default;
    z-index: 3;
    position: absolute;
    bottom: calc(100% + 1px);
    left: 0;
    right: 0;
    border-top: 1px solid #E0E0E0;
    min-height: 60px;
    max-height: 710px;
    display: flex;
    flex-wrap: wrap;
    padding: 17px 24px;
    box-sizing: border-box;
    background: #ffffff;

    .row {
      max-width: 625px;
      color: #1B1B1B;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: -0.02em;
    }

    .cate {
      margin-left: 8px;
      color: #1B1B1B;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
    }

    .section__bottom-button {
      margin-left: auto;
    }

    .bottom-button {
      width: 24px;
      height: 24px;
    }
  }

  /* section__bottom 올펀 챗봇 */

  .section__bottom--chatbot {
    height: 0;
    padding: 0;
    border: 0;

    .welcome {
      position: absolute;
      bottom: calc(100% + 1px);
      left: 0;
      right: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      border-top: 1px solid #E0E0E0;
      background-color: #ffffff;
      border-bottom-right-radius: 5px;

      .section__bottom-button {
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      .sticked-button {
        flex: 1 1 100%;
        height: 56px;
        padding: 16px 0;
        box-sizing: border-box;
        color: #FB4760;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.03em;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        &:not(:first-of-type) {
          border-left: 1px solid #E0E0E0;
        }
      }
    }
  }

  /* section__bottom 대화 내 검색 */

  *::selection, *.selection {
    color: #ffffff;
    background-color: #4F4F4F;
  }

  *.selection {
    display: inline-block;
  }

  .section__bottom--insearch {
    height: 0;
    padding: 0;
    border: 0;

    .insearch-navi {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 12px 0;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: center;
      border-top: 1px solid #E0E0E0;
      background-color: #ffffff;
      border-radius: 5px;

      .section__bottom-button {
        max-width: 100%;
        width: 100%;
        padding-right: 26px;
        justify-content: flex-end;
      }
    }

    .bottom-button {
      margin-left: 12px;
    }

    .insearch-up {
      &[aria-disabled="true"] {
        [class^="ico__arrow"] {
          transform: rotate(180deg);
        }
      }
    }

    .insearch-down {
      &[aria-disabled="false"] [class^="ico__arrow"] {
        transform: rotate(180deg);
      }
    }
  }
}

.modal-conversation {
  z-index: 998;

  .modal__button {
    cursor: pointer;
  }

  .modal__container {
    overflow: hidden;
    border-radius: 5px;
  }

  .modal-box__heading {
    margin-bottom: 16px;
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .modal-box__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .button {
      width: 100%;
      height: 48px;
      box-sizing: border-box;
    }
  }

  .textfield {
    border-radius: 5px;
  }

  .textarea {
    padding: 11px 16px 48px 16px;
    box-sizing: border-box;
    overflow-y: scroll;
    &::placeholder {
      color: #BDBDBD;
    }

    &__count {
      cursor: default;
      color: #4F4F4F;
      position: absolute;
      bottom: 1px;
      left: 1px;
      right: 1px;
      padding-top: 4px;
      padding-right: 20px;
      padding-bottom: 11px;
      text-align: right;
      background-color: #ffffff;
      border-radius: 5px;

      &-meta {
        font-size: 15px !important;
        font-weight: 600 !important;
      }

      span, i {
        margin-left: 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.02em;
      }
    }
  }
}

#msg_report {
  z-index: 9999;

  .content__inner {
    height: 475px;
    position: relative;
  }

  .button {
    background-color: #FB4760;
    color: #ffffff;
  }

  // .modal__close-button {
  //   width: auto;
  //   height: auto;
  // }

  .footer {
    height: 22px;
  }
}

#msg_report-submit {
  z-index: 1000;
}

#msg_imgviewer {

  .modal__container {
    overflow: hidden;
    border-radius: 5px;
  }

  .header {
    height: 48px;
  }

  .content {
    width: 600px;
    height: 800px;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    text-align: center;
    background-color: #F7F7F7;
  }

  .content__inner {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: {
      size: contain;
      position: center;
      repeat: no-repeat;
    }
  }

  .modal-close {
    width: 28px;
    height: 18px;
    top: 16px;
    right: 24px;
  }

  .modal__close-button {
    width: auto;
    height: auto;

    &::before, &::after {
      content: none;
    }
  }

  .footer {
    height: 48px;
  }
}

.modal .header {
  z-index: 998;
}