@use "mixins";
@use 'sass:math';
@use 'sprite/sprite';

.my {

  &__count {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: -0.02em;
    color: #4F4F4F;
    padding-top: 8px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__desc {
    display: flex;
    align-items: center;

    .my__text-wrap {
      max-width: 560px;
      margin-top: 10px;
      overflow: hidden;
    }
  }

  &__img {
    width: 140px;
    height: 140px;
    border-radius: 140px;
    margin-right: 48px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 32px;
      overflow: hidden;
      border: 1px solid #F2F2F2;
    }
  }

  &__name {
    margin-bottom: 1px;
    display: flex;
    align-items: center;

    .name {
      max-width: 480px;
      margin-right: 6px;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.03em;
      color: #1B1B1B;
      white-space: nowrap;
      @include mixins.ellipse(1);
    }

    .badge {
      display: inline-block;
      height: 21px;
      padding: 1px 6px 0;
      background-color: #FFF5F6;
      border-radius: 5px;
      font-weight: 600;
      font-size: 13px;
      line-height: 21.5px;
      letter-spacing: -0.02em;
      color: #FB4760;
    }
  }

  &__location {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: -0.02em;
    color: #828282;
    margin-bottom: 8px;
  }

  &__product {
    font-weight: 600;
    font-size: 13px;
    line-height: 20.15px;
    letter-spacing: -0.02em;
    color: #828282;
    padding: 1px 6px;
    background-color: #F2F2F2;
    border-radius: 5px;
    display: inline-block;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__right-wrap {
    display: flex;
    align-items: center;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 25.6px;
      letter-spacing: -0.02em;
      color: #828282;
      margin-top: 8px;
    }
  }

  &__thumnail-container {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .my__thumnail {
      width: 210px;
      height: 210px;
      border: 1px solid #F2F2F2;
      background: {
        size: contain;
        position: center;
        repeat: no-repeat;
      }
      border-radius: 5px;
    }
  }

  &__like {
    .like {
      @include mixins.sprite(sprite.$ico-unheart);
    }

    &.active {
      .like {
        @include mixins.sprite(sprite.$ico-heart);
      }

      p {
        font-weight: 600;
        color: #FB4760;
      }
    }
  }

  &__share, &__like {
    text-align: center;
    margin-left: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  &__tab01 {
    .tab01__img-wrap {
      height: 740px;
      padding-top: 32px;
      padding-bottom: 32px;
      border-bottom: 1px solid #E0E0E0;
    }

    .tab01__text-wrap {
      padding-top: 32px;
      padding-bottom: 57px;

      dl {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }

        dt {
          width: 75px;
          margin-right: 15px;
          font-weight: 500;
          font-size: 14px;
          line-height: 22.4px;
          letter-spacing: -0.02em;
          color: #828282;
        }

        dd {
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          letter-spacing: -0.02em;
          color: #1B1B1B;

          a {
            color: #3D87F4;
            border-bottom: 1px solid #3D87F4;
          }
        }
      }
    }
  }

  &__tab02 {
    margin-top: 56px;

    .product-list.wholesaler-list {
      .card__name {
        white-space: break-spaces;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .product-list__card {
      .card__price.card__price--gray {
        color: rgba(27, 27, 27, .3);
      }

      .badge {
        display: inline-block;
        height: 21px;
        padding: 1px 6px 0;
        background-color: #FFF5F6;
        border-radius: 5px;
        font-weight: 600;
        font-size: 13px;
        line-height: 21.5px;
        letter-spacing: -0.02em;
        color: #FB4760;
        margin-top: 4px;

        &.badge--gray {
          background-color: #F2F2F2;
          color: #828282;
        }
      }
    }
  }
  
  .inner__category {

    .sub-category__item {

      a {
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: -0.02em;
        color: #BDBDBD;
      }

      &.sub-category__item--active a {
        color: #FB4760;
      }

      & + .sub-category__item {
        margin-left: 24px;
      }
    } 
  }

  .category-data {
    width: 100%;
    flex-basis: 100%;
    flex-shrink: 0;

    &__wrap {
      box-sizing: border-box;
      padding-right: 72px;
    }
  }

  .category-filter__util {
    position: relative;
  }

  .category-filter__refresh {
    display: none;
    top: -42px;

    &.active {
      display: block;
    }
  }
}

.my {

  .inner::after {
    display: block;
    clear: both;
    content: '';
  }

  &__container {
    margin-top: 40px;
  }

  &__top {
    min-height: 140px;
    padding: 31px 36px;
    box-sizing: border-box;
    margin-top: 48px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F7F7;
    border-radius: 5px;
  }

  &__aside {
    float: left;
    width: 220px;
  }

  &__section {
    float: right;
    width: calc(100% - 260px);
  }

  .my__profile {
    display: flex;
    align-items: center;
    
    .user-type {
      margin-right: 24px;
    }

    .user-name {
      max-width: 460px;
      flex-shrink: 0;
      color: #1B1B1B;
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: -0.03em;
      text-align: left;
      white-space: nowrap;
      @include mixins.ellipse(1);
      overflow: hidden;
    }
  }

  .my__count-wrap {
    flex-shrink: 0;
    margin-right: 100px;
    display: flex;
    align-items: center;

    li {
      text-align: left;
      position: relative;
      padding-right: 50px;
      margin-right: 50px;

      &:last-child {
        padding-right: 0;
        margin-right: 0;

        &::after {
          display: none;
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 32px;
        background-color: #E0E0E0;
        right: 0;
        top: 8px;
      }

      .num {
        margin-top: 2px;
        color: #1B1B1B;
        font-weight: 600;
        font-size: 24px;
        letter-spacing: -0.02em;
      }

      .text {
        color: #4F4F4F;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: -0.02em;
      }
    }
  }

  .aside {

    &__title {
      flex-basis: 100%;
      flex-shrink: 0;
      margin-bottom: 16px;
      color: #1B1B1B;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: -0.03em;
    }

    &__bottom {
      margin-top: 16px;

      .button {
        width: 100%;
        padding: 11px 28px;
        box-sizing: border-box;
        display: flex;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
        background-color: #ffffff;

        span {
          margin-left: 12px;
          color: #828282;
          font-size: 16px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: -0.02em;
        }
      }
    }
  }

  .post-list {
    margin-top: 16px;
    padding: 8px 0 8px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    box-sizing: border-box;

    &__item {
      height: 52px;
      padding: 13px 20px 13px 24px;
      box-sizing: border-box;
      position: relative;

      a {
        max-width: 140px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.02em;
        overflow: hidden;
      }

      .ico__list-link {
        position: absolute;
        top: 18px;
        right: 20px;
      }

      &--active a {
        color: #FB4760;
        font-weight: 600;
      }
    }

    &__line {
      width: 100%;
      height: 1px;
      margin: 8px 0;
      background-color: #F2F2F2;
    }

    .badge__new {
      margin-left: 8px;
      box-sizing: border-box;
    }
  }

  .section {

    &__head {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 26px;

      .dropdown {
        height: 48px;
        margin-top: 0;
        margin-left: 12px;

        &__title {
          padding: 12px 16px;
        }
      }

      &-button {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin-left: 5px;
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: -0.02em;
          text-align: left;
          color: #4F4F4F;
        }
      }
    }

    &__title {
      margin-bottom: 16px;
      flex-basis: 100%;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__title, &__title > p {
      color: #1B1B1B;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: -0.03em;
    }

    &__head__group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 52px);

      button {
        width: 52px;
        height: 26px;
        padding: 0;
        flex-shrink: 0;
        margin-bottom: 16px;
      }
    }

    &__content {
      .content__card {
        margin-bottom: 32px;
        padding: 30px 36px;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        height: 205px;
        box-sizing: border-box;

        .card__info {
          display: flex;
          align-items: center;

          .card__img {
            width: 82px;
            height: 82px;
            margin-right: 12px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .card__text01 {
            font-weight: 400;
            font-size: 18px;
            line-height: 27.9px;
            letter-spacing: -0.03em;
            color: #1B1B1B;
          }

          .card__text02 {
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #828282;
          }

          .card__list {
            display: flex;
            align-items: center;
            margin-top: 8px;

            li {
              margin-right: 10px;
              height: 22px;
              padding: 1px 6px;
              background-color: #F2F2F2;
              border-radius: 5px;
              box-sizing: border-box;
              font-weight: 400;
              font-size: 13px;
              line-height: 20.15px;
              letter-spacing: -0.02em;
              color: #828282;
            }
          }
        }
          
        .card__notice {
          display: flex;
          align-items: center;
          margin-top: 16px;
          padding: 12px;
          height: 46px;
          box-sizing: border-box;
          border-radius: 5px;
          background-color: #F7F7F7;

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22.4px;
            letter-spacing: -0.02em;
            color: #828282;
            margin-left: 6px;
          }
        }
      }

      .content__list {
        li {
          margin-bottom: 32px;

          &:last-child {
            margin-bottom: 0;
          }

          &.list--underbar {
            padding-bottom: 32px;
            border-bottom: 1px solid #E0E0E0;
          }

          &.list__company-info {
            h4 {
              margin-bottom: 32px;
            }

            dl {
              display: flex;
              align-items: center;
              height: 24px;
              margin-bottom: 8px;

              dt,
              dd {
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: #1B1B1B;
              }

              dt {
                font-size: 14px;
                color: #828282;
                width: 75px;
                margin-right: 15px;
                flex-shrink: 0;
              }
            }
          }
        }

        h4 {
          font-weight: 600;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #333333;
          padding-bottom: 16px;
          border-bottom: 2px solid #4F4F4F;
        }

        .editor-wrap {
          height: 300px;
          background-color: #F2F2F2;
          margin-top: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          font-size: 18px;
          line-height: 27.9px;
          letter-spacing: -0.03em;
          color: #828282;
        }

        .list__add-btn {
          width: 100%;
          height: 48px;
          border: 1px solid #E0E0E0;
          border-radius: 5px;

          &.mt8 {
            margin-top: 8px;
          }

          &.mt32 {
            margin-top: 32px;
          }

          i {
            margin-top: 2px;
          }

          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 25.6px;
            letter-spacing: -0.02em;
            color: #4F4F4F;
            margin-left: 8px;
          }
        }
      }
    }
  }

  .my-content {

    &--nodata {
      margin: 36% auto 0;
      padding-bottom: 385px;
      text-align: center;
  
      p {
        margin-top: 12px;
        color: #828282;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.02em;
        text-align: center;        
      }
  
      span {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }

  .list {
    margin-top: 24px;

    &__meta-wrap {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__total {
      color: #4F4F4F;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
    }

    &-button {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #FB4760;
    }

    &__item {
      padding: 24px 12px 48px 12px;
      border-top: 1px solid #E0E0E0;
      &:first-of-type {
        border-top: 0;
      }
    }

    .pagenation {
      margin-top: 16px;

      .numbering {

        a {
          font-size: 14px;
        } 

        &--active {
          font-weight: 600;
        }
      }
    }
  }

  .folder-setting {
    flex-basis: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    ul {
      display: flex;
      align-items: center;

      li {
        padding-right: 16px;
        display: flex;
        align-items: center;

        &:not(:last-of-type)::after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          margin-left: 8px;
          background-color: #BDBDBD;
        }
      }

      button {
        color: #828282;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }

  .category-menu {

    &__title a {
      height: 34px;
      width: 120px;
      border-radius: 90px;
      padding: 5px 40px 5px 12px;
      font-size: 15px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: #4F4F4F;
  
      &::after {
        top: 10px;
      }
    }
  }
  
  /* 마이 페이지 내 모달 */

  .modal {
    z-index: 1000;

    &__container {
      width: 350px;
    }

    &-box__container {
      overflow: hidden;
      background: #ffffff;
      border-radius: 5px;
      border: 1px solid #E0E0E0;
    }

    &__desc {
      padding: 37px 24px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 0;
      font-size: 16px;
      font-size: 500;
      color: #1B1B1B;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__button {
      height: 40px;
      width: 100%;
      max-width: 100px;
      display: block;
      margin-bottom: 20px;
      background-color: #FB4760;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: -0.02em;
      text-align: center;
      border-radius: 0;
      span {
        font-weight: inherit;
        line-height: inherit;
      }

      & + .modal__button {
        margin-left: 10px;
      }

      &--gray {
        background-color: #BDBDBD;
      }
    }
  
    .modal__button {
      cursor: pointer;
    }
    
    .modal__container {
      overflow: hidden;
      border-radius: 5px;
    }
  
    .modal-box__heading {
      margin-bottom: 16px;
      color: #1B1B1B;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
      text-align: left;
    }
  
    .modal-box__bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
  
      .button {
        width: 100%;
        height: 48px;
        box-sizing: border-box;
      }
    }
  
    .content .textarea {
      padding: 11px 64px 11px 16px;
  
      &__count {
        position: absolute;
        right: 16px;
        bottom: 11px;
        color: #BDBDBD;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.02em;
      }
  
      &::placeholder {
        color: #BDBDBD;
      }
    }
  }
}

.notificaiton-list {
	margin-top: 44px;

  &__item {
    height: 120px;
    padding: 20px 40px;
    box-sizing: border-box;
    overflow: hidden;
    border-top: 1px solid #E0E0E0;
    &:first-of-type {
      border-top: 0;
    }
    &:hover {
      background-color: #FFF5F6;
    }
  }

  .my__text-wrap {
    margin-top: 0;
  }

  .my__desc p {
    margin-bottom: 3px;
    font-size: 15px;
    line-height: 24px;
    color: #4F4F4F;
    @include mixins.ellipse(1);
  }

  .my__name .name {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
  }

  .my__list-meta {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #828282;
  }

  .my__thumnail-container {
    margin-top: 0;
    
    .my__thumnail {
      width: 80px;
      height: 80px;
    }
  }

  .pagenation {
    margin-top: 16px;

    .numbering {

      a {
        font-size: 14px;
      } 

      &--active {
        font-weight: 600;
      }
    }
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;

  :nth-child(4n) {
    margin-right: 0;
  }

  &__card {
    width: 220px;
    margin-right: 12px;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;

    .card__bookmark {
      position: absolute;
      right: 14px;
      top: 182px;
      width: 24px;
      height: 24px;
      z-index: 5;

      :hover {
        cursor: pointer;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .card__img--wrap {
      width: 100%;
      height: 220px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;

      .card__img {
        width: 100%;
        height: 100%;
      }

      .card__badge {
        position: absolute;
        left: 14px;
        bottom: 14px;
        padding: 0 5px;
        height: 18px;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.35));
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
      }
    }

    .card__text--wrap {
      .card__brand {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
        letter-spacing: -0.02em;
        color: #828282;
        margin-top: 10px;
      }

      .card__name {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #1B1B1B;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

      }

      .card__price {
        font-weight: 700;
        font-size: 16px;
        line-height: 25.6px;
        letter-spacing: -0.02em;
        color: #1B1B1B;
        margin-top: 8px;
      }
    }
  }
}

.card__folder {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 5;
  padding: 1px 6px;
  text-align: center;
  color: #ffffff;
  background-color: #1B1B1B;
  border-radius: 5px;

  p {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
}

.card__check {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 5;

  label {
    z-index: inherit;
  }
}

#my-modal-category, 
#my-modal-category-2 {

  .button--left {
    width: 156px !important;
    height: 48px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    border: 1px solid #E0E0E0 !important;
    border-radius: 5px;

    p {
      margin-left: 10px;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #1B1B1B;
    }
  }

  .button--right {
    width: calc(100% - 180px);
    margin-left: 8px;
    background-color: #FB4760;
    color: #ffffff;
    border-radius: 5px !important;
  }

  .modal-category .content{
    overflow-y: scroll;
    height: 450px; 
  }

  .footer__wrap {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 24px;
    box-sizing: border-box;

    .button--solid {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;

      &:hover:not([disabled]) {
        pointer-events: initial;
      }
    }
  }
}

.default-modal.default-modal--my-folder, 
.default-modal.default-modal--my-refolder {

  .default-modal__header-wrap {
    display: flex;
  }

  .default-modal__content {
    height: 426px;

    ul {
      max-width: 100%;
      flex-shrink: 0;
      flex-basis: 100%;
      position: relative;
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #F2F2F2;
      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }

      li {
        display: flex;
        align-items: center;

        .textfield__input {
          width: 100%;
          height: 48px;
          font-size: 16px;

          &:disabled {
            color: #BDBDBD;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: #F7F7F7;
          }
          &::placeholder {
            font-weight: 400;
            color: #BDBDBD;
          }
        }

        .input-guid__button {
          width: 100px;
          transition: all .3s ease;

          &:hover {
            background-color: #d9d9d9;
          }
        }
      }

      .textfield {
        width: 366px;
        flex-shrink: 0;
        flex-grow: 0;
      }

      .count {
        min-width: 48px;
        margin-left: 16px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        line-height: 26px;
        color: #4F4F4F;
        white-space: nowrap;
      }
    }
  }

  .button-plus {
    margin-left: 12px;
    justify-self: start;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #828282;
    background: 0;

    .ico__add--circle {
      margin-bottom: 4px;
    }
  }

  .button-delete,
  .button-refolder {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #828282;
    position: absolute;
    right: 0;
    top: 12px;
  }

  .default-modal__footer {
    justify-content: space-between;
    height: 92px;
    padding: 22px 24px;

    .button--solid {
      width: 100%;
      max-width: 100%;
      height: 48px;
      line-height: 48px;
    }
  }
}

.default-modal.default-modal--my-refolder {

  li {
    box-sizing: border-box;

    > p {
      height: 42px;
      max-width: 240px;
      box-sizing: border-box;
      padding: 10px 8px;
      color: #1B1B1B;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
      @include mixins.ellipse(1);
    }
  }
}


.my-page {
  .badge__new {
    margin-left: 8px;
  }

  .section {
    &__info {
      width: 100%;
    }

    &__data {
      padding: 14px 16px;
      border: 1px solid #333333;
      border-radius: 5px;
      box-sizing: border-box;
    }

    &__data::after {
      display: block;
      content: '';
      clear: both;
    }

    &__data li {
      position: relative;
      float: left;
      width: 112px;
    }

    &__data li+ li {
      padding-left: 40px;
    }

    &__data li + li::before{
      display: block;
      position: absolute;
      left: 20px;
      width: 1px;
      height: 12px;
      margin-top: 4px;
      background-color: #BDBDBD;
      content: '';
    }

    &__data p {
      display: flex;
      justify-content: space-between;
      color: #333333;
    }

    &__data span {
      width: 32px;
      color: #1B1B1B;
      font-weight: 600;
      text-align: right;
      @include mixins.ellipse(1);
    }

    &__field {
      margin-top: 12px;
    }

    .dropdown {
      float: left;
      margin-left: 0;
    }
    
    .textfield {
      float: left;
      margin-left: 10px;
      margin-right: 11px;
    }

    .calendar {
      float: left;
      position: relative;
      width: 265px;
      height: 48px;
      padding: 8px 46px 8px 16px;
      border: 1px solid #DBDBDB;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .calendar input {
      width: 100%;
      height: 32px;
      color: #1B1B1B;
      line-height: 32px;
      box-sizing: border-box;
    }

    .calendar__button {
      position: absolute;
      top: 14px;
      right: 16px;
      padding: 0;
    }

     
    .calendar input::placeholder {
      color: #1B1B1B;
    }
  }

  .list table {
    margin-bottom: 40px;

    thead {
      background-color: #F7F7F7;
      height: 50px;
      box-sizing: border-box;
      border-left: 1px solid #E0E0E0;
    }

    thead th {
      color: #1B1B1B;
      font-size: 16px;
      line-height: 50px;
      text-align: center;
      letter-spacing: -.02em;
      border-width: 1px 1px 1px 0;
      border-color: #E0E0E0;
      border-style: solid ;
    }

    tbody {
      border-width: 0 1px 1px 1px;
      border-color: #E0E0E0;
      border-style: solid ;
    }

    tbody tr+tr {
      border-top: 1px solid #F2F2F2;
    }

    tbody td {
      display: table-cell;
      vertical-align: middle;
      color: #1B1B1B;
      text-align: center;
    }

    tbody td + td {
      border-left: 1px solid #F2F2F2;
    }

    .button-popup {
      padding: 14px 16px;
      text-align: center;
      box-sizing: border-box;
    }

    .button-popup button {
      padding: 3px 11px;
      width: 80px;
      height: 32px;
      color: #FB4760;
      font-weight: 600;
      letter-spacing: -.02em;
      border: 1px solid #FB4760;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .button-popup button + button {
      margin-top: 6px;
    }

    .link {
      padding: 0 16px;
    }

    .link a {
      display: inline-block;
      color: #3D87F4;
      border-bottom: 1px solid #3D87F4;
    }

    .link a span {
      text-align: left;
      @include mixins.ellipse(1);
    }

    .link.link--gray a {
      color: #828282;
      border-bottom: 1px solid #828282;
    }

    .target {
      padding: 0 18px;
      @include mixins.ellipse(1);
    }
  }

  .user-name-text {
    display: block;
    color: #828282;
    font-size: 16px;
    letter-spacing: -.02em;
  }

  .badge {
    span {
      display: inline-block;
      padding: 1px 6px;
      font-size: 13px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: -.02em;
      border-radius: 5px;
    }

    &--solid-red {
      color: #ffffff;
      background: #FB4760;
    }

    &--solid-pink {
      background-color: #FFF5F6;
      color: #FB4760;
    }

    &--solid-black {
      background-color: #1B1B1B;
      color: #ffffff
    }

    &--cancle {
      background-color: #F2F2F2;
      color: #828282;

    }
  }

  .dropdown--active .dropdown__wrap {
    height: 190px;
    padding: 5px 0;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  .dropdown__item {
    padding: 11px  11px 11px 24px;
  }
}

.mypage__set {
  .breadcrumbs-wrap {
    margin-top: 48px;
    margin-bottom: 26px;
  }

  .set__head {
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 2px solid #4F4F4F;
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #1B1B1B;
    margin-bottom: 16px; 
  }

  .set__inner {
    width: 962px;
    margin: 0 auto 90px;

    .form__list-wrap {
      &:first-child {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #E0E0E0;
      }
    }

    .form__list-item {
      display: flex;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .list__title {
      width: 190px;
      margin-right: 12px;
      flex-shrink: 0;

      .required {
        position: relative;

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          right: -10px;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background-color: #FB4760;
        }
      }

      .list__text01, .list__text02 {
        font-weight: 400;
        font-size: 16px;
        line-height: 25.6px;
        letter-spacing: -0.02em;
        color: #1B1B1B;
      }

      .list__text01 {
        display: inline-block;
        margin-top: 11px;

        &.mt0 {
          margin-top: 0;
        }
      }

      .list__text02 {
        font-weight: 500;
      }
    }

    .list__desc {
      width: 100%;

      .textfield__input--gray {
        width: 100%;
        height: 48px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;

        &::placeholder {
          color: #BDBDBD;
        }
      }

      .list__add-btn {
        width: 100%;
        height: 48px;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
  
        i {
          margin-top: 2px;
        }
  
        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #4F4F4F;
          margin-left: 8px;
        }
      }

      .desc__gallery {
        position: relative;
        width: 140px;
        height: 140px;
        border: 1px dashed #DBDBDB;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .file-input {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
        }

        .desc__input-placeholder {
          text-align: center;

          p {
            font-weight: 500;
            font-size: 14px;
            line-height: 22.4px;
            letter-spacing: -0.02em;
            color: #BDBDBD;
            margin-top: 3.5px;
          }
        }
      }

      .textarea-wrap {
        height: 100px;
        textarea {
          min-height: initial;
        }
      }
    }

    .list__add-btn {
      width: 100%;
      height: 48px;
      border: 1px solid #E0E0E0;
      border-radius: 5px;

      i {
        margin-top: 2px;
      }

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 25.6px;
        letter-spacing: -0.02em;
        color: #4F4F4F;
        margin-left: 8px;
      }
    }

    .form__button-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 76px;

      .button {
        width: 200px;
        height: 48px;
        line-height: 48px;
        margin: 0 6px;
      }
    }
  }
}

.my-detail {
  .blank {
    margin-top: 40px;
  }

  &__breadcrumbs {
    color: #828282;
    margin-bottom: 26px;
  }

  &__title {
    margin-bottom: 24px;
    color: #1B1B1B;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
  }

  .company-name {
    margin-top: 10px;
    margin-bottom: -4px;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.02em;
    letter-spacing: -.03em;
  }

  .date {
    margin-top: 10px;
  }

  .date p {
    display: inline-block;
    color: #333333;
    font-size: 16px;
    line-height: 25px;
  }

  .date p + p::before {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #BDBDBD;
    content: '';
  }  

  .buttons {
    margin-top: 5px;

    .cancle {
      color: #333333;
      font-size: 15px;
      letter-spacing: -.02em;
      border: 1px solid #E0E0E0;
    }

    .complete {
      background-color: #FB4760;
      color: #ffffff;
    }

    .button--border-gray {
      border: 1px solid #FB4760;
      color: #FB4760;
    }

    button {
      width: 120px;
      height: 44px;
      font-size: 16px;
      line-height: 44px;
      font-weight: 600;
      text-align: center;
      letter-spacing: -.02em;
      border-radius: 5px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: table;
  }

  .my-detail__item + .my-detail__item {
    border-top: 1px solid #E0E0E0;
  }

  .info, 
  .description,
  .state {
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .info  {
    width: 632px;
    padding: 16px;

    & > div {
      width: 100%;
    }

    .title {
      color: #1B1B1B;
      font-size: 16px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: -.02em;
      @include mixins.ellipse(1);
    }

    .image {
      display: inline-block;
      width: 80px;
      height: 80px;
      margin-right: 16px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 5px;
    }

    .type {
      color: #828282;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: -.02em;
    }

    &__wrap {
      display: inline-block;
      width: calc(100% - 100px);
      font-size: 15px;
      letter-spacing: -.02em;
    }

    .add {
      width: calc(100% - 100px);
      padding-top: 8px;
      margin-left: 100px;
      border-top: 1px solid #F2F2F2;
    }

    .price {
      display: inline-block;
      color: #333333;
      font-weight: 600;
    }

    .count {
      display: inline-block;
      color: #828282;
      font-weight: 500;
    }


    .price + .count::before {
      display: inline-block;
      width: 1px;
      height: 12px;
      margin-left: 8px;
      margin-right: 8px;
      background-color: #E0E0E0;
      content: '';
     }
     
  }

  .description {
    width: 362px;
    padding: 14px 24px;
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;

    div + div {
      margin-top: 6px;
    }

    &__title {
      display: inline-block;
      margin-right: 20px;
      width: 55px;
      color: #828282;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -.02em;
    }

    &__text {
      display: inline-block;
      width: calc(100% - 80px);
      color: #1B1B1B;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -.02em;
    }

    &__text span {
      @include mixins.ellipse(2);
    }
  }

  .state {
    width: 180px;
    padding: 30px;
    text-align: center;

    .cancle {
      width: 120px;
      height: 44px;
      text-align: center;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
    }

    p {
      text-align: center;
    }
  }

  .my-detail__list + .my-detail__request {
    border-top : 1px solid #E0E0E0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__request {
    padding: 17px 16px;
    color: #1B1B1B;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -.02em;
  }

  &__order {
    margin-top: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
  }

  &__request p {
    @include mixins.ellipse(1);
  }

  &__order-info {
    margin-top: 72px;
  }

  .order-info {
    &__content {
      padding-top: 24px;
      padding-bottom: 9px;
      border-bottom: 1px solid #E0E0E0; 
    }

    &__title {
      display: inline-block;
      width: 126px;
      color: #828282;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: -.02em;
    }

    &__text {
      display: inline-block;
      width: calc(100% - 136px);
      color: #333333;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: -.02em;
    }

    &__text span {
      @include mixins.ellipse(1);
    }

    &__item {
      margin-bottom: 16px;
    }

    &__footer {
      margin-top: 15px;
    }

    &__footer p {
      display: inline-block;
      color: #333333;
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
      letter-spacing: -.03em;
    }

    &__footer p:nth-child(1) {
      width: 102px;
      margin-right: 24px;
    }

    &__footer p:nth-child(2) {
      width: calc(100% - 130px);

    }

    &__footer span {
      display: inline-block;
      color: #828282;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
    }
  }

  .order {
    &__main-title {
      color: #333333;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: -.02em;
    }

    &__head {
      padding-bottom: 25px;
      border-bottom: 2px solid #4F4F4F;
    }
  }

  &__order-cancle {
    .info {
      width: 632px;
    }
    .description {
      width: 543px;
      border-right: none;
    }

    .my-detail__order {
      margin-top: 24px;
    }
  }

  .my-detail__order-info + .my-detail__order-cancle {
    margin-top: 72px;
    margin-bottom: 97px;
  }

  &__cancle {
    margin-top: 72px;

    textarea {
      width: 100%;
      height: 120px;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
      margin-top: 24px;
      margin-bottom: 24px;
      padding: 11px;
      font-size: 16px;
      box-sizing: border-box;
    }

    textarea::placeholder {
      color: #BDBDBD;
    }
  }

  .util {
    text-align: right;
  }

  .util button[type=button] {
    width: 150px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .button--blank-gray {
    border: 1px solid #E0E0E0;
  }
}
// 
.breadcrumbs-wrap {
  display: flex;

  li {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #828282;

    &::after {
      content: ">";
      margin: 0 4px;
    }

    &:last-child::after {
      display: none;
    }
  }
}

.edit-delete-wrap {
  display: flex;
  align-items: center;
  z-index: 10;

  li {
    margin-right: 25px;
    position: relative;

    button {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: #828282;
      padding: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 12px;
      background-color: #E0E0E0;
      top: 6px;
      right: -13px;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

.notice-wrap {
  padding: 12px;
  border-radius: 5px;
  background-color: #F7F7F7;
  
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: -0.02em;
    color: #828282;
  }

  &.display-flex {
    display: flex;
    align-items: center;
    p {
      margin-left: 6px;
    }
  }

  &.mt10 {
    margin-top: 10px;
  }
}

// 임시 영역
.smart-editor {
  width: 100%;
  height: 200px;
  position: relative;

  &::after {
    content: "스마트에디터 영역 임시 이미지 입니다.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 20px;
    color: #BDBDBD;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

// 추천 상품 버튼
.recommend-btn {
  @include mixins.sprite(sprite.$ico-star-off);

  &.active {
    @include mixins.sprite(sprite.$ico-star-on);
  }
}

.section__content {
  .category-list {
    &.category-list--product {
      margin-top: 8px;
      margin-bottom: 0;

      .category-list__wrap {
        width: initial;
      }
    }
  }
  
  .set__filter-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .category-btn-group {
      margin-bottom: 0;

      .category-btn--01 {
        width: 100px;
      }

      .category-btn--02 {
        width: 120px;
      }

      .category-btn--order {
        width: 109px;
      }
    }
  }
  
  .default-modal__content {
    .content__list li {
      margin-bottom: 0;
    }
  }

  .fixed-wrap {
    position: absolute;
    width: 916px;
    padding: 208px 0;
    height: 500px;
    box-sizing: border-box;
    text-align: center;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 25.6px;
      letter-spacing: -0.02em;
      color: #BDBDBD;
      margin-bottom: 24px;
    }

    button {
      width: 108px;
      height: 34px;
      border-radius: 34px;
      font-size: 15px;
      line-height: 32px;
      border: 1px solid #E0E0E0;
    }

    &.search-result--none {
      padding-top: 112px;
      height: auto;

      p {
        color: #828282;
        margin-top: 8px;
        margin-bottom: 0;
      }
    }
  }

  .search-result {
    margin-top: 22px;

    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 22.4px;
      letter-spacing: -0.02em;
      color: #828282;
      margin-bottom: 32px;
    }
  }

  .tab01 {
    position: relative;

    .list-none {
      margin-bottom: 72px;
      text-align: center;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 25.6px;
        letter-spacing: -0.02em;
        color: #BDBDBD;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 25.6px;
      letter-spacing: -0.02em;
      color: #333333;
      margin-bottom: 32px;
      padding-bottom: 24px;
      border-bottom: 2px solid #4F4F4F;
      vertical-align: middle;

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 25.6px;
        color: #828282;
        margin-left: 6px;
      }

      &.mt16 {
        margin-top: 16px;
      }
    }
    
    .card-wrap {
      .card__list-item {
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid #E0E0E0;
        position: relative;

        .edit-delete-wrap {
          position: absolute;
          right: 0;
          top: 64px;
        }

        .list__btn {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:hover {
            cursor: pointer;
          }
        }

        .list__img {
          width: 216px;
          height: 216px;
          margin-right: 32px;
          flex-shrink: 0;

          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }

        .list__desc {
          width: 100%;
          height: 216px;

          .desc__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;
            border-bottom: 1px solid #E0E0E0;

            .badge {
              padding: 1px 7px;
              border-radius: 5px;
              height: 22px;
              box-sizing: border-box;
              font-weight: 600;
              font-size: 13px;
              line-height: 20.15px;
              letter-spacing: -0.02em;

              &.badge--type01 {
                background-color: #FB4760;
                color: #FFFFFF;
              }

              &.badge--type02 {
                background-color: #FFF5F6;
                color: #FB4760;
              }

              &.badge--type03 {
                background-color: #F2F2F2;
                color: #828282;
              }
            }
          }

          .desc__body {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 24px;

            p {
              font-weight: 400;
              font-size: 18px;
              line-height: 27.9px;
              letter-spacing: -0.03em;
              color: #1B1B1B;
            }
          }

          .desc__footer {
            margin-top: 59px;
            ul {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 5px;
              height: 40px;
              background-color: #F7F7F7;

              li {
                font-weight: 500;
                font-style: 16px;
                line-height: 25.6px;
                letter-spacing: -0.02em;
                color: #333333;
                margin-right: 161px;
                position: relative;

                span {
                  font-weight: 600;
                  font-style: 15px;
                  line-height: 24px;
                  margin-left: 4px;
                }

                &:last-child {
                  margin-right: 0;

                  &::after {
                    display: none;
                  }
                }

                &::after {
                  position: absolute;
                  content: "";
                  top: 6px;
                  right: -82px;
                  width: 1px;
                  height: 12px;
                  background-color: #E0E0E0;
                }
              }
            }
          }
        }
      }
    }
  }

  .tab02 {
    .card-wrap {
      margin-top: 18px;

      .card__list-item {
        margin-bottom: 32px;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        .edit-delete-wrap {
          position: absolute;
          top: 22px;
          right: 20px;
        }

        .list__btn {
          padding: 23px 20px 32px;
          box-sizing: border-box;
          border: 1px solid #BDBDBD;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
          }
        }

        .list__top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 14px;
          border-bottom: 1px solid #E0E0E0;

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.02em;
            color: #828282;
          }
        }

        .list__bottom {
          margin-top: 32px;

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.03em;
            color: #1B1B1B;
          }
        }
      }
    }
  }
}

.category-btn {
  &.registration-order-btn {
    width: auto;

    i {
      flex-shrink: 0;
      margin-right: 4px;
    }
  }
}
