@use 'sass:math';
@use "mixins";
@use 'sprite/sprite';


.product__container {
  .category-btn {
    margin-bottom: 16px;
    width: 93px;

    &+.category-list {
      display: none;
    }

    &.category-btn--active {
      margin-bottom: 16px;

      &+.category-list {
        display: flex;
      }
    }
  }
}

.category-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  border: 1px solid #E0E0E0;
  border-radius: 34px;
  margin-bottom: 24px;
  padding: 0 12px;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #4F4F4F;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      @include mixins.sprite(sprite.$ico-arrow-down14);
      display: inline-block;
      margin-left: 4px;
    }
  }

  &--active {
    border: 1px solid #FF8798;
    background-color: #FFF5F6;

    .category-btn__text {
      font-weight: 600;
      color: #1B1B1B;

      &::after {
        @include mixins.sprite(sprite.$ico-arrow-down14-red);
      }
    }
  }
}

.category-list {
  display: flex;
  justify-content: space-between;
  padding: 15px 16px 5px;
  margin-bottom: 22px;
  border: 1px solid #E0E0E0;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1057px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding: 0 12px;
    border-radius: 34px;
    background-color: #F2F2F2;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__name {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #333333;
    margin-right: 4px;
  }

  &__refresh {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    &__text {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: #4F4F4F;
      margin-right: 4px;
    }

    img {
      width: 14px;
      height: 14px;
    }
  }
}

.product__text--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .product__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27.9px;
    letter-spacing: -0.03em;
    color: #1B1B1B;

    .text__color--red {
      color: rgba(251, 71, 96, 1);
    }
  }

  .product__count {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: -0.02em;
    color: #4F4F4F;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;

  :nth-child(4n) {
    margin-right: 0;
  }

  &__card {
    width: 276px;
    margin-right: 24px;
    margin-bottom: 40px;
    position: relative;

    .card__bookmark {
      position: absolute;
      right: 14px;
      top: 242px;
      width: 24px;
      height: 24px;
      z-index: 5;

      :hover {
        cursor: pointer;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .card__img--wrap {
      width: 100%;
      height: 276px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;

      .card__img {
        width: 100%;
        height: 100%;
      }

      .card__badge {
        position: absolute;
        left: 14px;
        bottom: 14px;
        padding: 0 5px;
        height: 18px;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.35));
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
      }
    }

    .card__text--wrap {
      .card__brand {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
        letter-spacing: -0.02em;
        color: #828282;
        margin-top: 10px;
      }

      .card__name {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #1B1B1B;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

      }

      .card__price {
        font-weight: 700;
        font-size: 16px;
        line-height: 25.6px;
        letter-spacing: -0.02em;
        color: #1B1B1B;
        margin-top: 8px;
      }
    }
  }

  &.product-list__detail {

    :nth-child(4n) {
      margin-right: 24px;
    }

    :last-child {
      margin-right: 0;
    }

    .product-list__card {
      width: 216px;

      .card__bookmark {
        top: 180px;
      }

      .card__img--wrap {
        height: 216px;
      }

      .card__text--wrap {

        .card__name {
          text-overflow: initial;
          white-space: initial;
          // 두번째 줄 말줄임 표시 IE 적용 불가
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }

    .badge {
      display: inline-block;
      height: 21px;
      padding: 1px 6px 0;
      background-color: #FFF5F6;
      border-radius: 5px;
      font-weight: 600;
      font-size: 13px;
      line-height: 21.5px;
      letter-spacing: -0.02em;
      color: #FB4760;
      margin-top: 4px;
    }
  }
}

.pagenation.pagination--center {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.product-detail {
  display: flex;
  margin-top: 48px;

  &__left-wrap {
    position: relative;
    margin-right: 50px;
  }

  .left-wrap {
    &__img {
      width: 550px;
      height: 550px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }

    &__arrow {
      position: absolute;
      width: 550px;
      height: 550px;

      button {
        width: 60px;
        height: 550px;
        padding-left: 21px;
      }

      button+button {
        position: absolute;
        right: 0;
        padding-left: 0;
        padding-right: 21px;
      }

      .ico_back.active {
        display: block;
      }

      .ico_next.active {
        display: block;
      }

      .ico_back,
      .ico_next {
        display: none;
        opacity: 0;
      }

      .ico_back:hover,
      .ico_next:hover {
        opacity: 1;
      }

    }




    &__img--small {
      display: flex;
      margin-top: 10px;

      :last-child {
        margin-right: 0;
      }

      li {
        margin-right: 10px;
        width: 60px;
        height: 60px;
        box-sizing: border-box;

        &:hover {
          cursor: pointer;
        }

        &.selected {
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }

          button::before {
            display: inline-block;
            position: absolute;
            width: 60px;
            height: 60px;
            border: 2px solid red;
            border-radius: 5px;
            box-sizing: border-box;
            content: '';
          }
        }

        button {
          display: block;
          font-size: 0;
          margin: 0;
          padding: 0;
          width: 60px;
          height: 60px;
          border-radius: 5px;
          box-sizing: border-box;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }
    }
  }

  &__right-wrap {
    margin-top: 8px;
    width: 100%;
  }

  .right-wrap {
    &__company {
      display: flex;
      align-items: center;

      .ico__shop24 {
        margin-right: 9px;
      }

      .name {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        margin-right: 8px;
        color: rgba(130, 130, 130, 1);

        strong {
          font-weight: 600;
          color: #333333;
        }
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #E0E0E0;

      .title-wrap {
        width: 399px;
      }

      h2,
      .price {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.03em;
        color: #1B1B1B;
      }

      h2 {
        margin-bottom: 10px;
        word-break: break-all;
      }

      ul {
        display: flex;
        justify-content: right;
        margin-top: 16px;
        margin-right: 10px;

        li {
          margin-left: 39px;
          text-align: center;

          &.product-share {
            a {
              display: inline-block;
            }
          }

          img {
            width: 28px;
            height: 28px;
          }

          p {
            font-weight: 500;
            font-size: 16px;
            line-height: 25.6px;
            letter-spacing: -0.02em;
            color: #828282;
            margin-top: 6px;
          }

          &.product-bookmark {
            .bookmark {
              @include mixins.sprite(sprite.$ico-bookmark28-off);
            }

            &.active {
              .bookmark {
                @include mixins.sprite(sprite.$ico-bookmark28-on);
              }

              p {
                color: #FB4760;
              }
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    &__code {
      padding: 16px 0;
      border-bottom: 1px solid #E0E0E0;

      dl {
        display: flex;
        align-items: flex-start;

        dt,
        dd {
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
        }

        dt {
          margin-right: 32px;
          color: #828282;
          width: 67px;
        }

        dd {
          color: #1B1B1B;
          width: 477px;
          word-break: break-all;
        }
      }
    }

    &__selection {
      .dropdown {
        margin-bottom: 16px;

        &__title {
          padding: 0 16px;
          height: 48px;
          font-weight: 500;
          font-size: 16px;
          line-height: 48px;
          letter-spacing: -0.02em;
          color: #1B1B1B;

          &::before {
            width: 8px;
            height: 8px;
          }

          &:hover {
            cursor: pointer;
            border: 1px solid #FB4760;

            &::before {
              border-top-color: #FB4760;
              border-right-color: #FB4760;
            }
          }
        }

        &__wrap {
          display: none;
        }

        &__item {
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #1B1B1B;
          padding: 12px 16px;
          height: 50px;
          box-sizing: border-box;
        }

        &.dropdown--active {
          .dropdown__wrap {
            display: block;
            box-sizing: border-box;
            height: auto;
            max-height: 240px;
            overflow-y: scroll;
            padding: 0;
          }

          .dropdown__item:hover {
            background-color: #FFF5F6;
          }
        }
      }

      .box {
        padding: 12px 16px 12px 12px;
        border-radius: 5px;
        background-color: #F7F7F7;
        margin: 16px 0;
        display: flex;

        &__icon {
          margin-right: 8px;
        }

        &__text {
          font-weight: 500;
          font-size: 14px;
          line-height: 22.4px;
          letter-spacing: -0.02em;
          color: #828282;
        }
      }
    }

    &__order {
      .order__text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        dt {
          font-weight: 500;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #1B1B1B;
        }

        dd {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: -0.03em;
          color: #1B1B1B;
        }
      }

      .order__button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        .button {
          width: 280px;
          height: 48px;
          line-height: 48px;
        }
      }
    }
  }

  &__table {
    margin-top: 48px;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;


    dl {

      dt,
      dd {
        font-weight: 500;
        font-size: 13px;
        line-height: 20.15px;
        letter-spacing: -0.02em;
      }

      &.item01 {
        display: flex;

        dt,
        dd {
          padding: 10px 8px;
          border-right: 1px solid #E0E0E0;
          border-bottom: 1px solid #E0E0E0;
        }

        dt {
          display: flex;
          align-items: center;
          width: 148px;
          min-height: 40px;
          box-sizing: border-box;
          color: #828282;
          background-color: #F7F7F7;
        }

        dd {
          display: flex;
          align-items: center;
          width: 440px;
          min-height: 40px;
          box-sizing: border-box;
          color: #333333;
        }
      }

      &.item02 {
        display: flex;
        align-items: center;
        height: 48px;
        box-sizing: border-box;
        padding: 12px 12px;
        border-right: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;

        dt {
          margin-right: 8px;
        }
      }
    }
  }

  &__img-area {
    margin-top: 48px;
    margin-bottom: 44px;

    img {
      width: 100%;
    }
  }

  &__order-info {
    margin-bottom: 80px;

    li {

      &:first-child {
        border-top: 2px solid #4F4F4F;
      }

      .order-info__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 16px 16px 0;
        border-bottom: 1px solid #E0E0E0;
        cursor: pointer;

        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 27.9px;
          letter-spacing: -0.03em;
          color: #1B1B1B;
        }

        .ico__arrow {
          @include mixins.sprite(sprite.$ico-arrow-down24);
        }

        &.active {
          .ico__arrow {
            @include mixins.sprite(sprite.$ico-arrow-up24);
          }
        }

        &.active+.order-info__desc {
          display: block;
        }
      }

      .order-info__desc {
        display: none;
        padding: 16px 32px;
        background-color: #F7F7F7;
        border-bottom: 1px solid #E0E0E0;
        font-weight: 400;
        font-size: 16px;
        line-height: 25.6px;
        letter-spacing: -0.02em;
        color: #4F4F4F;
      }
    }
  }
}

.basket {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  display: none;

  &.active {
    display: block;
  }

  &.active+.basket__no-product {
    display: none;
  }

  &__container {
    width: 700px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #1B1B1B;
    margin-top: 44px;
  }

  &__selected--all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 7px;

    .category__check.basket__check {
      span {
        color: #828282;
      }

      input:checked+span {
        font-weight: 600;
        color: #1B1B1B;
      }
    }

    p {
      margin-right: 16px;
      font-size: 16px;
      letter-spacing: -0.02em;
      color: #828282;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__card-wrap {
    > :last-child {
      margin-bottom: 0;
    }
  }

  &__card {
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 16px;

    .card__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #F7F7F7;
      height: 60px;
      border-bottom: 1px solid #DBDBDB;

      a {
        display: flex;
        align-items: center;
        margin-right: 14px;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #828282;

        i {
          margin-left: 4px;
        }
      }
    }

    .card__content {
      padding: 0 16px;

      .content__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        border-bottom: 1px solid #DBDBDB;
        padding-right: 16px;

        .category__check.basket__check {
          span {
            margin-left: 0;
          }
        }
      }

      .content__desc {
        display: flex;
        align-items: flex-start;
        justify-content: right;
        margin-top: 16px;
        border-bottom: 1px solid #DBDBDB;

        .desc__img {
          width: 90px;
          height: 90px;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .selection__result {
          width: 536px;
          box-sizing: border-box;
        }
      }

      .content__footer {
        padding: 16px 0;

        dl {
          display: flex;
          align-items: center;
          margin-bottom: 2px;

          &:last-child {
            margin-bottom: 0;
          }

          dt,
          dd {
            font-size: 15px;
            letter-spacing: -0.02em;
            color: #1B1B1B;
          }

          dt {
            margin-right: 24px;
            color: #828282;
          }

        }
      }
    }

    .card__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      border-top: 1px solid #DBDBDB;
      padding: 0 16px;

      dl {
        display: flex;
        align-items: center;

        dt,
        dd {
          font-size: 15px;
          letter-spacing: -0.02em;
          color: #828282;
        }

        dd {
          font-weight: 700;
          font-size: 16px;
          color: #1B1B1B;
          margin-left: 12px;
        }
      }

      .footer__button-group {
        .button {
          width: 82px;
          height: 40px;
          line-height: 40px;
          margin-left: 10px;
        }
      }
    }
  }

  &__order {
    position: fixed;
    top: 170px;
    right: 50%;
    transform: translateX(calc(50% + 370px));

    .order {
      padding: 24px;
      width: 436px;
      min-height: 154px;
      border: 1px solid #DBDBDB;
      border-radius: 5px;
      box-sizing: border-box;


      &__price {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .text {
          font-weight: 600;
          font-size: 22px;
          line-height: 33px;
          letter-spacing: -0.03em;
          color: #1B1B1B;
        }

        .price__num-wrap {
          margin-top: 3px;
          text-align: right;

          .num {
            font-weight: 600;
            font-size: 18px;
            line-height: 27.9px;
            letter-spacing: -0.03em;
            color: #1B1B1B;

            span {
              color: #FB4760;
            }
          }

          .attc {
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: -0.02em;
            color: #828282;
          }

        }
      }

      &__button {
        margin-top: 22px;

        .button {
          width: 388px;
          height: 48px;
          line-height: 48px;
        }
      }
    }
  }

  &.order-info {
    display: block;

    .order-info__list {
      margin-top: 24px;

      .order-info__desc {
        margin-bottom: 60px;

        &:last-child {
          margin-bottom: 0;
        }

        &:first-child .order-info__title {
          padding-bottom: 24px;
        }

        .order-info__title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 18px;
          border-bottom: 2px solid #4F4F4F;
          margin-bottom: 24px;

          h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 27.9px;
            letter-spacing: -0.03em;
            color: #333333;
          }

          .button--blank-gray {
            width: 124px;
            height: 40px;
            line-height: 38px;
            letter-spacing: -0.02em;
          }
        }

        dl {
          display: flex;
          align-items: center;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;

            dd {
              .textfield {
                margin-top: 10px;

                .textfield__input--gray {
                  &:disabled {
                    color: #BDBDBD;
                    background-color: #F7F7F7;
                  }
                }
              }
            }
          }

          dt,
          dd {
            font-weight: 400;
            font-size: 16px;
            line-height: 25.6px;
            letter-spacing: -0.02em;
            color: #828282;
          }

          dt {
            width: 73px;
            margin-right: 10px;
          }

          dd {
            color: #333333;
            flex-grow: 1;

            .textfield__input--gray {
              width: 100%;
              height: 48px;
              font-size: 16px;
            }

            .input-guid__input {
              width: 506px;
              margin-right: 7px;
              border: 1px solid #DBDBDB;

              &:disabled {
                color: #BDBDBD;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background-color: #F7F7F7;
              }
            }

            .textfield__input--gray,
            .input-guid__input {
              &::placeholder {
                font-weight: 400;
                color: #BDBDBD;
              }
            }
          }
        }

        .order-info__container {
          border: 1px solid #E0E0E0;
          border-radius: 5px;
          overflow: hidden;

          dl {
            margin-bottom: 2px;

            &:last-child {
              margin-bottom: 0;
            }

            dt,
            dd {
              font-weight: 400;
              font-size: 15px;
              line-height: 24px;
              letter-spacing: -0.02em;
              color: #828282;
            }

            dt {
              width: 55px;
              margin-right: 12px;
            }

            dd {
              width: 594px;
              color: #1B1B1B;
            }
          }

          .order-info__header {
            padding: 16px;
            border-bottom: 1px solid #E0E0E0;
            background-color: #F7F7F7;

            h4 {
              font-weight: 600;
              font-size: 16px;
              line-height: 25.6px;
              letter-spacing: -0.02em;
              color: #333333;
            }

            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 25.6px;
              letter-spacing: -0.02em;
              color: #828282;
            }
          }

          .order-info__content {
            padding: 16px;
            border-bottom: 1px solid #E0E0E0;

            .order-info__detail {
              display: flex;
              padding: 0 16px 16px;
              margin: 0 -16px;
              border-bottom: 1px solid #F2F2F2;

              .order-info__img {
                width: 80px;
                height: 80px;
                border-radius: 5px;
                overflow: hidden;
                margin-right: 16px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .order-info__text {
                flex-grow: 1;

                h4 {
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 25.6px;
                  letter-spacing: -0.02em;
                  color: #1B1B1B;
                  margin-bottom: 2px;
                }

                ul {
                  li {
                    margin-bottom: 16px;
                    border-bottom: 1px solid #F2F2F2;

                    &:last-child {
                      border-bottom: 0;
                    }

                    .sub-wrap {
                      margin-bottom: 2px;

                      p {
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 24px;
                        letter-spacing: -0.02em;
                        color: #828282;
                      }
                    }

                    .price-wrap {
                      display: flex;
                      align-items: center;
                      margin-bottom: 16px;

                      .price,
                      .count {
                        font-size: 15px;
                        line-height: 24px;
                        letter-spacing: -0.02em;
                      }

                      .price {
                        font-weight: 600;
                        color: #333333;

                        &::after {
                          content: "";
                          display: inline-block;
                          width: 1px;
                          height: 12px;
                          background-color: #E0E0E0;
                          margin: 0 8px;
                        }
                      }

                      .count {
                        font-weight: 500;
                        color: #828282;
                      }
                    }
                  }
                }
              }

              &--request {
                padding-top: 16px;

                dl {
                  align-items: flex-start;
                }
              }
            }

            .textfield {
              margin-top: 16px;

              .textfield__input--gray {
                width: 100%;
                height: 48px;
                font-weight: 400;
                font-size: 16px;
              }
            }
          }

          dl.order-info__footer {
            padding: 12px 16px;

            dd {
              font-weight: 700;
              font-size: 16px;

              span {
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: -0.03em;
                color: rgba(130, 130, 130, 1);
              }
            }

          }
        }
      }
    }
  }
}

// 장바구니 상품 없음
.basket__no-product {
  min-height: calc(100vh - 122px);
  position: relative;

  .no-product__wrap {
    text-align: center;
    position: absolute;
    top: 35%;
    right: 50%;
    transform: translateX(50%);

    .ico__search--circle {
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: 48px;
      padding: 12px;
      box-sizing: border-box;
      background-color: #E0E0E0;
      margin-bottom: 8px;
    }

    p {
      font-weight: 500;
      font-size: 15px;
      line-height: 25.6px;
      letter-spacing: -0.02em;
      color: #828282;
      margin-bottom: 24px;
    }

    a {
      display: inline-block;
      padding: 4px 14px;
      border: 1px solid #E0E0E0;
      border-radius: 17px;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: -0.02em;
      color: #4F4F4F;
    }
  }
}


.category__check.basket__check {
  background-color: transparent;

  span {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1B1B1B;
  }
}

// 카테고리 옵션 선택 결과
.selection {
  &__result {
    padding: 9px 16px;
    border: 1px solid #DBDBDB;
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 16px;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    ul {
      display: flex;

      li {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #1D1D1D;
        padding-right: 7px;
        margin-right: 7px;
        position: relative;

        &::after {
          content: "/";
          position: absolute;
          right: -3px;
        }

        &:last-child {
          padding-right: 0;
          margin-right: 0;
        }

        &:last-child::after {
          content: "";
        }
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__count {
    display: flex;
    align-items: center;
    padding: 0 5px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background-color: #FFFFFF;
    height: 28px;

    li {
      height: 26px;
    }

    .count__minus,
    .count__plus:hover {
      cursor: pointer;
    }

    .count__text {
      width: 28px;
      margin: 0 8px;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #1D1D1D;
      text-align: center;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: -0.02em;
    color: #1D1D1D;

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 22.4px;
      letter-spacing: -0.02em;
      color: #1B1B1B;
      margin-left: 2px;
    }
  }
}

// 주문 완료
.completed {
  width: 700px;
  margin: 0 auto;

  &__message {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;

    img {
      width: 60px;
      height: 60px;
      margin-bottom: 16px;
    }

    p {
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: -0.03em;
      color: #1B1B1B;
    }
  }

  &__info,
  &__product {
    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27.9px;
      letter-spacing: -0.03em;
      color: #333333;
      padding-bottom: 24px;
      border-bottom: 2px solid #1B1B1B;
      margin-bottom: 24px;
    }
  }

  &__info {
    margin-bottom: 56px;

    dl {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      dt,
      dd {
        font-weight: 400;
        font-size: 16px;
        line-height: 25.6px;
        letter-spacing: -0.02em;
        color: #333333;
      }

      dt {
        width: 84px;
        margin-right: 24px;
        color: #828282;
      }
    }

    .info__notice {
      display: flex;
      align-items: center;
      padding: 12px;
      background-color: #F7F7F7;
      border-radius: 5px;

      .ico__info {
        margin-right: 6px;
      }

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 22.4px;
        letter-spacing: -0.02em;
        color: #828282;
      }
    }
  }

  &__product {
    margin-bottom: 40px;

    li {
      border: 1px solid #E0E0E0;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .product__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 16px;
      background-color: #F7F7F7;
      border-bottom: 1px solid #E0E0E0;

      h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 25.6px;
        letter-spacing: -0.02em;
        color: #333333;
      }

      a {
        display: flex;
        align-items: center;

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          letter-spacing: -0.02em;
          color: #828282;
          margin-right: 4px;
        }
      }
    }

    .product__content {
      padding: 16px;
      display: flex;
      align-items: center;

      .content__img-wrap {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;
        margin-right: 16px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .content__text-wrap {

        .brand,
        .name {
          font-weight: 600;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #1B1B1B;
        }

        .brand {
          margin-bottom: 2px;
        }

        .name {
          font-weight: 400;
          color: #828282;
        }
      }
    }
  }

  &__button-group {
    text-align: center;
    margin-top: 44px;

    .button {
      width: 248px;
      height: 52px;
      line-height: 52px;
      margin: 0 6px;
    }
  }
}

.default-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 9999;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    border-radius: 5px;
    background-color: #ffffff;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    padding: 28px;
    box-sizing: border-box;

    h2 {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.03em;
      color: #1B1B1B;
    }
  }

  &__content {
    height: 424px;
    overflow-y: scroll;
    padding: 0 24px 10px;
    box-sizing: border-box;
  }

  &__footer {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 24px;
    box-sizing: border-box;

    .button--solid {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;
    }
  }

  // 카테고리 선택
  &.default-modal--category {
    .default-modal__content {
      .content__list {
        li {
          padding: 10px 0;
          border-bottom: 1px solid #F2F2F2;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }

    .default-modal__footer {
      justify-content: space-between;

      .button--blank-gray,
      .button--solid {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
      }

      .button--blank-gray {
        width: 156px;

        p {
          margin-left: 8px;
        }
      }

      .button--solid {
        width: 268px;
      }
    }
  }

  // 정렬 선택
  &.default-modal--radio {
    .default-modal__content {
      height: auto;

      .content__list {
        li {
          padding: 10px 0;
          border-bottom: 1px solid #F2F2F2;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  // 옵션 선택
  &.default-modal--option {
    .default-modal__content {
      .content__head {
        display: flex;
        align-items: flex-start;
        padding-bottom: 16px;
        border-bottom: 1px solid #F2F2F2;

        .head__img-wrap {
          width: 80px;
          height: 80px;
          border-radius: 5px;
          overflow: hidden;
          margin-right: 16px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .head__text-wrap {
          width: 336px;

          h3 {
            font-weight: 600;
            font-size: 16px;
            line-height: 25.6px;
            letter-spacing: -0.02em;
            color: #1B1B1B;
            margin-bottom: 2px;
          }

          dl {
            display: flex;
            align-items: flex-start;
            margin-bottom: 2px;

            &:last-child {
              margin-bottom: 0;
            }

            dt,
            dd {
              font-weight: 500;
              font-size: 15px;
              line-height: 24px;
              letter-spacing: -0.02em;
              color: #828282;
            }

            dt {
              width: 55px;
              margin-right: 24px;
            }

            dd {
              width: 257px;
              font-weight: 400;
              color: #1B1B1B;
            }
          }
        }
      }

      .content__desc {
        .desc__box--gray {
          display: flex;
          align-items: flex-start;
          padding: 12px;
          background-color: #F7F7F7;
          border-radius: 5px;
          margin: 16px 0;

          .ico__info {
            margin-right: 6px;
          }

          .box__text {
            font-weight: 500;
            font-size: 14px;
            line-height: 22.4px;
            letter-spacing: -0.02em;
            color: #828282;
            word-break: keep-all;
          }
        }

        .dropdown {
          margin-bottom: 16px;

          &__title {
            padding: 0 16px;
            height: 48px;
            font-weight: 400;
            font-size: 16px;
            line-height: 48px;
            letter-spacing: -0.02em;
            color: #1B1B1B;

            &::before {
              width: 8px;
              height: 8px;
            }

            &:hover {
              cursor: pointer;
              border: 1px solid #FB4760;

              &::before {
                border-top-color: #FB4760;
                border-right-color: #FB4760;
              }
            }
          }

          &__wrap {
            display: none;
          }

          &__item {
            font-weight: 400;
            font-size: 16px;
            line-height: 25.6px;
            letter-spacing: -0.02em;
            padding: 12px 16px;
            height: 50px;
            box-sizing: border-box;
          }

          &.dropdown--active {
            .dropdown__wrap {
              display: block;
              box-sizing: border-box;
              height: auto;
              max-height: 150px;
              padding: 0;
            }

            .dropdown__item:hover {
              background-color: #FFF5F6;
            }
          }
        }

        .selection__result:last-child {
          margin-bottom: 0;
        }
      }
    }

    .default-modal__footer {
      display: block;
      height: 130px;
      padding: 16px 24px 22px;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        p:first-child {
          font-weight: 500;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #1B1B1B;
        }

        p:last-child {
          font-weight: 600;
          font-size: 18px;
          line-height: 27.9px;
          letter-spacing: -0.03em;
          color: #1B1B1B;
        }
      }
    }
  }

  // 배송지 선택
  &.default-modal--address-select {
    .default-modal__content {
      background-color: #F7F7F7;
      padding: 16px 24px;
      height: 524px;

      ul {
        li {
          padding: 24px;
          background-color: #FFFFFF;
          border: 1px solid #E0E0E0;
          border-radius: 5px;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .name {
        font-weight: 600;
        font-size: 18px;
        line-height: 27.9px;
        letter-spacing: -0.03em;
        color: #1B1B1B;
        margin-bottom: 8px;
      }

      .num,
      .add {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #828282;
      }

      .add {
        color: #333333;
        margin-top: 2px;
      }

      .content__button-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        div {
          .button:first-child {
            margin-right: 4px;
          }
        }

        .button {
          width: 66px;
          height: 40px;
          line-height: 40px;
        }
      }
    }

    .default-modal__footer {
      padding: 0;
      height: 42px;
    }
  }

  // 배송지 수정
  &.default-modal--address-edit {
    .default-modal__content {
      height: 474px;

      dl {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;

          dd {
            .textfield {
              margin-top: 10px;
            }

            .textfield__input--gray {
              padding: 10px 16px;
            }
          }
        }

        dt,
        dd {
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #828282;
        }

        dt {
          width: 73px;
          margin-right: 10px;
        }

        dd {
          color: #333333;
          flex-grow: 1;

          .textfield__input--gray {
            width: 100%;
            height: 48px;
            font-size: 16px;
          }

          .input-guid__input {
            width: 239px;
            margin-right: 6px;
            border: 1px solid #DBDBDB;

            &:disabled {
              color: #BDBDBD;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              background-color: #F7F7F7;
            }
          }

          .textfield__input--gray,
          .input-guid__input {
            &::placeholder {
              font-weight: 400;
              color: #BDBDBD;
            }
          }

          .input-guid__button {
            width: 100px;
            transition: all .3s ease;

            &:hover {
              background-color: #d9d9d9;
            }
          }
        }
      }
    }

    .default-modal__footer {
      justify-content: space-between;
      height: 92px;
      padding: 22px 24px;

      .button--blank-gray,
      .button--solid {
        width: 212px;
        height: 48px;
        line-height: 48px;
      }
    }
  }

  // 상품 상태 변경
  &.default-modal--radio-box {
    .default-modal__container {
      width: 478px;
    }

    .default-modal__header {
      padding: 31px 28px 38px;
      height: auto;
    }

    .default-modal__content {
      padding: 0 28px;
      height: auto;

      ul {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          margin-bottom: 16px;

          &:nth-child(3),
          &:nth-child(4) {
            margin-bottom: 0;
          }
        }
      }
    }

    .default-modal__footer {
      padding: 32px 28px 40px;
      height: auto;
    }
  }

  // 미리보기
  &.default-modal--preview {
    .default-modal__container {
      width: 1324px;
      height: 80%;
    }

    .default-modal__header {
      padding: 32px 30px 32px 90px;
    }

    .default-modal__content {
      padding: 0 58px 0 90px;
      height: calc(100% - 176px);

      .product-detail {
        justify-content: space-between;
        margin-top: 0;

        &__left-wrap {
          .left-wrap__img {
            height: 588px;
          }
        }

        &__right-wrap {
          width: 576px;

          .right-wrap__code {
            &:last-child {
              border-bottom: 0;
            }

            dl {
              margin-bottom: 12px;

              &:last-child {
                margin-bottom: 0;
              }
            }

            dt {
              width: 100px;
              flex-shrink: 0;
            }
          }

          .right-wrap__selection {
            margin-top: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid #E0E0E0;

            .dropdown:last-child {
              margin-bottom: 0;
            }

            .dropdown__title,
            .dropdown__item {
              font-weight: 400;
            }
          }
        }

        &__order-info {
          margin-bottom: 0;
        }
      }
    }

    &.preview--none {
      .default-modal__container {
        height: initial;
      }

      .default-modal__content {
        height: auto;

        .left-wrap__img {
          border-radius: 5px;
          background-color: #F2F2F2;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 25.6px;
            letter-spacing: -0.02em;
            color: #BDBDBD;
          }
        }
      }
    }
  }

  // 주소 검색 
  &.default-modal--address-search {
    .default-modal__container {
      width: 880px;
    }

    .default-modal__header {
      padding: 32px 30px 32px 90px;
      height: 92px;
    }

    .default-modal__content {
      padding: 0 90px;
      height: 500px;

      .kakao-api-wrap {
        width: 100%;
        height: 500px;
        background-color: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 25.6px;
          letter-spacing: -0.02em;
          color: #BDBDBD;
        }
      }
    }
  }
}

.alert-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 9999;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    border-radius: 5px;
    background-color: #ffffff;
  }

  &__top {
    min-height: 93px;
    padding: 34px 24px 32px;
    text-align: center;
    box-sizing: border-box;

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 25.6px;
      letter-spacing: -0.02em;
      color: #1B1B1B;

      &.text--gray {
        font-weight: 400;
        font-size: 13px;
        line-height: 20.15px;
        letter-spacing: -0.02em;
        color: #828282;
        margin-top: 6px;
      }
    }
  }

  &__bottom {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .button {
      min-width: 100px;
      height: 40px;
      line-height: 42px;
      border-radius: 0;
      padding: 0 27px;
      box-sizing: border-box;

      &.button--solid-gray {
        background-color: #BDBDBD;

        &:hover {
          background-color: #4F4F4F;
        }
      }
    }

    .button-group {
      display: flex;
      justify-content: center;
      align-items: center;

      .button {
        margin: 0 4px;
      }

      &.max-width {
        .button {
          width: 140px;
          padding: 0;
        }
      }
    }
  }
}

// 체크박스
.checkbox__checked {
  display: none;

  &+span {
    position: relative;
    padding-left: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: -0.02em;
    color: #828282;
  }

  &:checked+span {
    font-weight: 600;
    color: #1B1B1B;
  }

  &+span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    @include mixins.sprite(sprite.$ico-check-gray-border);
  }

  &:checked+span::after {
    @include mixins.sprite(sprite.$ico-check-white);
  }

  // 라디오
  &[type="radio"] {
    &+span::after {
      @include mixins.sprite(sprite.$ico-radio-off);
    }

    &:checked+span::after {
      @include mixins.sprite(sprite.$ico-radio-on);
    }
  }

  &.checked--single {
    &+span {
      padding-left: 16px;
    }
  }
}

// 라디오 type02
.radio__checked {
  display: none;

  &+span {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: -0.02em;
    color: #333333;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &:checked+span {
    font-weight: 600;
    color: #FFFFFF;
    border: 0;
    background-color: #4F4F4F;
  }
}