@use "mixins";
@use 'sass:math';
@use 'sprite/sprite';

.service {
  margin-bottom: 88px;

  &__top {
    min-height: 150px;
    padding: 24px 24px;
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
  }

  &__top-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .top-button {
    padding: 11px 23.5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #333333;

    & + .top-button {
      margin-top: 8px;
    }
  }

  &__slogan {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #828282;
  }

  &__title {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 30px;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: -0.03em;
      color: #333333;
    }
  }

  &__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #828282;

    strong {
      padding-left: 32px;
      position: relative;
      font-weight: inherit;
      line-height: inherit;
      color: #333333;

      &::before {
        content: '';
        width: 1px;
        height: 12px;
        display: inline-block;
        position: absolute;
        top: 4px;
        left: 16px;
        background-color: #828282;
      }
    }
  }
  
  .sub-category {
    margin-bottom: 24px;
  }

  .sub-category__item + .sub-category__item {
    margin-left: 24px;
  }

  .section {

    &__head {
      margin-top: 40px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &__title {
      flex-basis: 100%;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__title, &__title > p {
      color: #1B1B1B;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: -0.03em;
    }

    &__title-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .head-button {
      padding: 11px 37px;
      line-height: 26px;
      letter-spacing: -0.02em;
    }
  }

  .content {

    > .content__item {
      margin-top: -24px;
    }
  }

  .breadcrumbs-wrap {
    margin-bottom: 26px;
  }
  
  .dropdown {

    &__title {
      color: #BDBDBD;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
      &::before {
        width: 10px;
        height: 10px;
      }
    }
  }

  .list {
    margin-top: 24px;

    &__meta-wrap {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__total {
      color: #4F4F4F;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
    }

    &-button {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #FB4760;
    }

    &__item {
      padding: 24px 12px 48px 12px;
      border-top: 1px solid #E0E0E0;
      &:first-of-type {
        border-top: 0;
      }
    }

    .pagenation {
      margin-top: 120px;

      .numbering {

        a {
          font-size: 14px;
        } 

        &--active {
          font-weight: 600;
        }
      }
    }
  }

  .button-wrap {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    .button {
      min-width: 150px;
      padding: 11px 23px;
      box-sizing: border-box;
      font-weight: 600;
      line-height: 25.6px;
      letter-spacing: -0.02em;
      text-align: center;

      & + .button {
        margin-left: 10px;
      }

      &--etc {
        font-weight: 400;
      }
    }
  }

  /* table */

  .list table {
    margin-top: -8px; 
    margin-bottom: 40px;

    thead {
      background-color: #F7F7F7;
      height: 50px;
      box-sizing: border-box;
      border-left: 1px solid #E0E0E0;
    }

    thead th {
      color: #1B1B1B;
      font-size: 16px;
      line-height: 50px;
      text-align: center;
      letter-spacing: -.02em;
      border-width: 1px 1px 1px 0;
      border-color: #E0E0E0;
      border-style: solid ;
    }

    tbody {
      border-width: 0 1px 1px 1px;
      border-color: #E0E0E0;
      border-style: solid ;
    }

    tbody tr+tr {
      border-top: 1px solid #F2F2F2;
    }

    tbody td {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    tbody td + td {
      border-left: 1px solid #F2F2F2;
    }

    .accordion__head {
      display: table-row;
    }
  }

  .badge-wrap {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    box-sizing: border-box;
  }

  .badge {
    padding: 1px 6px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    &--taken {
      color: #828282;
      background-color: #F2F2F2;
    }
    &--answered {
      color: #FB4760;
      background-color: #FFF5F6;
    }
  }

  /* accordion & tab */

  .ui-accordion {
    cursor: default;
    margin-top: 4px;
  }

  .ui-accordion-header {

    &-icon {
      position: absolute;
      right: 0;
      top: 16px;
    }

    .ico {
      margin-right: 8px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.03em;
      text-align: left;
      color: #1B1B1B;      
    }
  }

  .ui-accordion-content {
    height: auto !important;
    padding: 16px 32px;
    box-sizing: border-box;
    position: relative;
    background: #F7F7F7;
    border-bottom: 1px solid #E0E0E0;

    .ico {
      position: absolute;
      top: 16px;
      left: 32px;
      color: #4F4F4F;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
    }

    > p {
      color: #4F4F4F;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
    }
  }

  .content__item-meta {
    flex-basis: 100%;
    flex-shrink: 0;
    margin-top: 4px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #828282;
  }

  .accordion__head {
    width: 100%;
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #E0E0E0;

    p {
      width: 100%;
      max-width: 100%;
      padding-right: 44px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.03em;
      color: #1B1B1B;
      @include mixins.ellipse(1);
    }
    
    td {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
      text-align: center;
      color: #333333;

      .title {
        max-width: 92%;
        padding: 0;
        margin: 0 auto;
        text-decoration: underline;
      }
    }
  }
  
  .accordion__panel {
    box-sizing: border-box;
  }

  .accordion__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: #FFF5F6;
    & + .accordion__content {
      border-top: 1px solid #E0E0E0;
    }

    .title {
      width: 167px;
      padding: 16px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: -0.02em;
      text-align: center;
      color: #FB4760;
    }

    .contents {
      width: 1010px;
      padding: 16px;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
      color: #4F4F4F;
      border-left: 1px solid #E0E0E0;

      &__meta {
        margin-top: 6px;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #828282;
      }

      .button {
        min-width: 104px;
        line-height: initial;
      }
    }
  }

  .tab .ui-accordion-content > p {
    padding-left: 20px;
  }

  .tab .accordion__head {
    flex-wrap: nowrap;
  }

  .tab__list li {
    border-right: 0;
    &:last-of-type {
      border-left: 1px solid #E0E0E0;
      border-right: 1px solid #E0E0E0;
    }
  }
}

.service-content {
  width: 100%;
  padding-top: 32px;
  border-top: 2px solid #4F4F4F;

  &__title {
    display: block;
    margin-bottom: 27px;
    color: #1B1B1B;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: -.03em;
  }

  .form__list {
    margin-bottom: 24px;
    & + .form__list {
      margin-top: 34px;
    }
  }

  .form__label {
    margin-top: 12px;
  }

  .textfield {
    border-radius: 5px;
  }

  .textarea {
    height: 440px;
    padding: 11px 16px 48px 16px;
    box-sizing: border-box;
    overflow-y: scroll;
    &::placeholder {
      color: #BDBDBD;
    }

    &__count {
      cursor: default;
      color: #4F4F4F;
      position: absolute;
      bottom: 1px;
      left: 1px;
      right: 16px;
      padding: 4px 20px 7px 0;
      text-align: right;
      background-color: #ffffff;
      border-radius: 5px;

      &-meta {
        font-size: 15px !important;
        font-weight: 600 !important;
      }

      span, i {
        margin-left: 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.02em;
      }
    }
  }

  &--nodata {
    padding-top: 0;
    border-top: 0;
    margin: 28% auto 0;
    padding-bottom: 385px;
    text-align: center;

    p {
      margin-top: 12px;
      color: #828282;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;
      text-align: center;        
    }

    span {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &__linked {
    color: #828282;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.02em;
  }

  &__total {
    margin: 16px 0;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -.02em;
  }

  .ico__more,
  .ico__more--black {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 24px;
  }
}