@use "mixins";
@use 'sprite/sprite';


i {
	display: inline-block;
  vertical-align: middle;
}
.head__logo {
	display: inline-block;
	@include sprite.retina-sprite(sprite.$head-logo-group);
}
.foo__logo {
  @include sprite.retina-sprite(sprite.$foo-logo-group);
}

.ico__alram {
  @include sprite.retina-sprite(sprite.$ico-alram-group);
}
.ico__basket {
  @include sprite.retina-sprite(sprite.$ico-basket-group);
}
.ico__close28 {
  @include sprite.retina-sprite(sprite.$ico-close28-group);
}
.ico__search {
  @include sprite.retina-sprite(sprite.$ico-search-group);
}
.ico__info {
  @include sprite.retina-sprite(sprite.$ico-info-group);
}
.ico__email {
  @include sprite.retina-sprite(sprite.$ico-email-group);
}
.ico__delete16 {
  @include sprite.retina-sprite(sprite.$ico-delete16-group);
}
.ico__viewcnt {
  @include sprite.retina-sprite(sprite.$ico-viewcnt-group);
}
.ico__like {
  @include sprite.retina-sprite(sprite.$ico-like-group);
}
.ico__reply {
  @include sprite.retina-sprite(sprite.$ico-reply-group);
}
.ico__refresh {
  @include sprite.retina-sprite(sprite.$ico-refresh-group);
}

.btn__floating {
  @include sprite.retina-sprite(sprite.$btn-floating-group);
}


.badge__new {
  @include sprite.retina-sprite(sprite.$badge-new-group);
}

// category icons
.ico_furniture {
  @include sprite.retina-sprite(sprite.$ico-furniture-group);
}
