@use "mixins";
@use 'sprite/sprite';


i {
	display: inline-block;
  vertical-align: middle;
}
.head__logo {
	display: inline-block;
	@include mixins.sprite(sprite.$head-logo);
}
.head__logo--large {
	display: inline-block;
	@include mixins.sprite(sprite.$head-logo-large);
}
.foo__logo {
  @include mixins.sprite(sprite.$foo-logo);
}

.ico__alram {
  @include mixins.sprite(sprite.$ico-alram);
}
.ico__basket {
  @include mixins.sprite(sprite.$ico-basket);
}
.ico__close28 {
  @include mixins.sprite(sprite.$ico-close28);
}
.ico__search {
  @include mixins.sprite(sprite.$ico-search);
}
.ico__info {
  @include mixins.sprite(sprite.$ico-info);
}
.ico__email {
  @include mixins.sprite(sprite.$ico-email);
}
.ico__delete16 {
  @include mixins.sprite(sprite.$ico-delete16);
}
.ico__viewcnt {
  @include mixins.sprite(sprite.$ico-viewcnt);
}
.ico__like {
  @include mixins.sprite(sprite.$ico-like);
}
.ico__reply {
  @include mixins.sprite(sprite.$ico-reply);
}

.ico__reply {
  @include mixins.sprite(sprite.$ico-reply);
}
.ico__refresh {
  @include mixins.sprite(sprite.$ico-refresh);
}

.btn__floating {
  @include mixins.sprite(sprite.$btn-floating);
}

.badge__new {
  @include mixins.sprite(sprite.$badge-new);
}

.ico__filter {
  @include mixins.sprite(sprite.$ico-filter);
}

// category icons
.ico__furniture {
  @include mixins.sprite(sprite.$ico-furniture);
}

//component
.ico__sdelete {
  @include mixins.sprite(sprite.$ico-sdelete);
}

.ico__check-gray {
  @include mixins.sprite(sprite.$ico-check-gray);
}

.ico__check-white {
  @include mixins.sprite(sprite.$ico-check-white);
}

.ico__more {
  @include mixins.sprite(sprite.$ico-more);
}

.ico__recomment {
  @include mixins.sprite(sprite.$ico-recomment);
}

.ico__gallery-image {
  @include mixins.sprite(sprite.$ico-gallery-image);
}

.ico__form-check {
  @include mixins.sprite(sprite.$ico-form-check_blue);
}
.ico__arrow--right18 {
  @include mixins.sprite(sprite.$ico-arrow-right18);
}

.ico__arrow--right14 {
  @include mixins.sprite(sprite.$ico-arrow-right14);
}

.ico__arrow--down20 {
  @include mixins.sprite(sprite.$ico-arrow-down20);
}

.ico__arrow--down14-red {
  @include mixins.sprite(sprite.$ico-arrow-down14-red);
}

.ico__arrow--down14 {
  @include mixins.sprite(sprite.$ico-arrow-down14);
}

.ico__bookmark24--on {
  @include mixins.sprite(sprite.$ico-bookmark24-on);
}

.ico__bookmark24--off {
  @include mixins.sprite(sprite.$ico-bookmark24-off);
}

.ico__share28 {
  @include mixins.sprite(sprite.$ico-share28);
}

.ico__shop24 {
  @include mixins.sprite(sprite.$ico-shop24);
}

.ico__delete12 {
  @include mixins.sprite(sprite.$ico-delete12);
}
.ico__delete18 {
  @include mixins.sprite(sprite.$ico-delete18);
}

.ico__count--minus {
  @include mixins.sprite(sprite.$ico-count-minus);
}
.ico__count--plus {
  @include mixins.sprite(sprite.$ico-count-plus);
}

.ico__notice24 {
  @include mixins.sprite(sprite.$ico-notice24);
}

.ico__arrow--big_left24 {
  @include mixins.sprite(sprite.$ico-arrow-big-left24);
}

.ico__arrow--down24 {
  @include mixins.sprite(sprite.$ico-arrow-down24);
}

.ico__arrow--up24 {
  @include mixins.sprite(sprite.$ico-arrow-up24);
}
.ico__refresh {
  @include mixins.sprite(sprite.$ico-refresh);
}
.ico__search--white {
  @include mixins.sprite(sprite.$ico-search-white);
}
.ico__search--gray {
  @include mixins.sprite(sprite.$ico-search-gray);
}


//category
.ico__furniture1 {
  @include mixins.sprite(sprite.$ico-furniture-1);
}

.ico__furniture1--on {
  @include mixins.sprite(sprite.$ico-furniture-1-on);
}


.ico__furniture2 {
  @include mixins.sprite(sprite.$ico-furniture-2);
}

.ico__furniture2--on {
  @include mixins.sprite(sprite.$ico-furniture-2-on);
}


.ico__furniture3 {
  @include mixins.sprite(sprite.$ico-furniture);
}

.ico__furniture3--on {
  @include mixins.sprite(sprite.$ico-furniture-on);
}


.ico__furniture4 {
  @include mixins.sprite(sprite.$ico-furniture-4);
}

.ico__furniture4--on {
  @include mixins.sprite(sprite.$ico-furniture-4-on);
}

.ico__furniture5 {
  @include mixins.sprite(sprite.$ico-furniture-5);
}

.ico__furniture5--on {
  @include mixins.sprite(sprite.$ico-furniture-5-on);
}

.ico__furniture6 {
  @include mixins.sprite(sprite.$ico-furniture-6);
}

.ico__furniture6--on {
  @include mixins.sprite(sprite.$ico-furniture-6-on);
}

.ico__furniture7 {
  @include mixins.sprite(sprite.$ico-furniture-7);
}

.ico__furniture7--on {
  @include mixins.sprite(sprite.$ico-furniture-7-on);
}

.ico__furniture8 {
  @include mixins.sprite(sprite.$ico-furniture-8);
}

.ico__furniture8--on {
  @include mixins.sprite(sprite.$ico-furniture-8-on);
}

.ico__furniture9 {
  @include mixins.sprite(sprite.$ico-furniture-9);
}

.ico__furniture9--on {
  @include mixins.sprite(sprite.$ico-furniture-9-on);
}

.ico__furniture10 {
  @include mixins.sprite(sprite.$ico-furniture-10);
}

.ico__furniture10--on {
  @include mixins.sprite(sprite.$ico-furniture-10-on);
}

.ico__furniture11 {
  @include mixins.sprite(sprite.$ico-furniture-11);
}

.ico__furniture11--on {
  @include mixins.sprite(sprite.$ico-furniture-11-on);
}

.ico__furniture12 {
  @include mixins.sprite(sprite.$ico-furniture-12);
}

.ico__furniture12--on {
  @include mixins.sprite(sprite.$ico-furniture-12-on);
}

.ico__furniture13 {
  @include mixins.sprite(sprite.$ico-furniture-13);
}

.ico__furniture13--on {
  @include mixins.sprite(sprite.$ico-furniture-13-on);
}

.ico__furniture14 {
  @include mixins.sprite(sprite.$ico-furniture-14);
}

.ico__furniture14--on {
  @include mixins.sprite(sprite.$ico-furniture-14-on);
}

.ico__search-circle {
  @include mixins.sprite(sprite.$ico-search-circle);
}

.ico__refresh--gray {
  @include mixins.sprite(sprite.$ico-refresh-gray);
}

.ico__heart {
  @include mixins.sprite(sprite.$ico-heart);
}

.ico__unheart {
  @include mixins.sprite(sprite.$ico-unheart);
}







