@use "mixins";
@use 'sprite/sprite';


i {
	display: inline-block;
  vertical-align: middle;
}
.head__logo {
	display: inline-block;
	@include mixins.sprite(sprite.$head-logo);
}
.foo__logo {
  @include mixins.sprite(sprite.$foo-logo);
}

.ico__alram {
  @include mixins.sprite(sprite.$ico-alram);
}
.ico__basket {
  @include mixins.sprite(sprite.$ico-basket);
}
.ico__close28 {
  @include mixins.sprite(sprite.$ico-close28);
}
.ico__search {
  @include mixins.sprite(sprite.$ico-search);
}
.ico__info {
  @include mixins.sprite(sprite.$ico-info);
}
.ico__email {
  @include mixins.sprite(sprite.$ico-email);
}
.ico__delete16 {
  @include mixins.sprite(sprite.$ico-delete16);
}
.ico__viewcnt {
  @include mixins.sprite(sprite.$ico-viewcnt);
}
.ico__like {
  @include mixins.sprite(sprite.$ico-like);
}
.ico__reply {
  @include mixins.sprite(sprite.$ico-reply);
}

.ico__reply {
  @include mixins.sprite(sprite.$ico-reply);
}
.ico__refresh {
  @include mixins.sprite(sprite.$ico-refresh);
}

.btn__floating {
  @include mixins.sprite(sprite.$btn-floating);
}

.badge__new {
  @include mixins.sprite(sprite.$badge-new);
}

.ico__filter {
  @include mixins.sprite(sprite.$ico-filter);
}

// category icons
.ico__furniture {
  @include mixins.sprite(sprite.$ico-furniture);
}

//component
.ico__sdelete {
  @include mixins.sprite(sprite.$ico-sdelete);
}

.ico__check-gray {
  @include mixins.sprite(sprite.$ico-check-gray);
}

.ico__check-white {
  @include mixins.sprite(sprite.$ico-check-white);
}

.ico__more {
  @include mixins.sprite(sprite.$ico-more);
}

.ico__recomment {
  @include mixins.sprite(sprite.$ico-recomment);
}
